set_location IN_MUX_bfv_8_3_0_ 8 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_4_0_ 8 4 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_5_0_ 8 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_5_0_ 12 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_6_0_ 12 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_8_0_ 12 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_5_0_ 11 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_6_0_ 11 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_12_0_ 1 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_10_0_ 1 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_3_0_ 4 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_4_0_ 4 4 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_4_0_ 7 4 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_5_0_ 7 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_6_0_ 7 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_3_0_ 1 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_4_0_ 1 4 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_5_0_ 1 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_6_0_ 1 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_7_0_ 1 7 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 2 2 5 #SB_LUT4
set_location spi_slave_1.un1_bitcnt_tx_1_cry_1_THRU_LUT4_0 1 12 2 #SB_LUT4
set_location spi_slave_1.un1_bitcnt_tx_1_cry_0_THRU_LUT4_0 1 12 1 #SB_LUT4
set_location sb_translator_1.cnt19_cry_18_THRU_LUT4_0 1 5 2 #SB_LUT4
set_location sb_translator_1.state56_a_5_cry_0_c_THRU_CRY_0 8 3 0 #SB_CARRY
set_location spi_slave_1.mosi_data_out_9_THRU_LUT4_0 5 2 0 #SB_LUT4
set_location spi_slave_1.mosi_data_out_8_THRU_LUT4_0 5 2 1 #SB_LUT4
set_location spi_slave_1.mosi_data_out_7_THRU_LUT4_0 5 5 5 #SB_LUT4
set_location spi_slave_1.mosi_data_out_6_THRU_LUT4_0 5 5 4 #SB_LUT4
set_location spi_slave_1.mosi_data_out_5_THRU_LUT4_0 5 5 3 #SB_LUT4
set_location spi_slave_1.mosi_data_out_4_THRU_LUT4_0 5 5 6 #SB_LUT4
set_location spi_slave_1.mosi_data_out_3_THRU_LUT4_0 5 5 1 #SB_LUT4
set_location spi_slave_1.mosi_data_out_23_THRU_LUT4_0 2 4 1 #SB_LUT4
set_location spi_slave_1.mosi_data_out_22_THRU_LUT4_0 2 4 7 #SB_LUT4
set_location spi_slave_1.mosi_data_out_21_THRU_LUT4_0 2 4 6 #SB_LUT4
set_location spi_slave_1.mosi_data_out_20_THRU_LUT4_0 2 4 5 #SB_LUT4
set_location spi_slave_1.mosi_data_out_2_THRU_LUT4_0 5 5 2 #SB_LUT4
set_location spi_slave_1.mosi_data_out_19_THRU_LUT4_0 2 4 3 #SB_LUT4
set_location spi_slave_1.mosi_data_out_18_THRU_LUT4_0 2 4 2 #SB_LUT4
set_location spi_slave_1.mosi_data_out_17_THRU_LUT4_0 2 4 0 #SB_LUT4
set_location spi_slave_1.mosi_data_out_16_THRU_LUT4_0 5 5 0 #SB_LUT4
set_location spi_slave_1.mosi_data_out_15_THRU_LUT4_0 7 1 5 #SB_LUT4
set_location spi_slave_1.mosi_data_out_14_THRU_LUT4_0 5 2 6 #SB_LUT4
set_location spi_slave_1.mosi_data_out_13_THRU_LUT4_0 5 2 5 #SB_LUT4
set_location spi_slave_1.mosi_data_out_12_THRU_LUT4_0 5 2 4 #SB_LUT4
set_location spi_slave_1.mosi_data_out_11_THRU_LUT4_0 5 2 3 #SB_LUT4
set_location spi_slave_1.mosi_data_out_10_THRU_LUT4_0 5 2 2 #SB_LUT4
set_location spi_slave_1.mosi_data_out_1_THRU_LUT4_0 2 4 4 #SB_LUT4
set_location spi_slave_1.mosi_data_out_0_THRU_LUT4_0 5 5 7 #SB_LUT4
set_location spi_slave_1.miso_data_out_9_THRU_LUT4_0 5 12 1 #SB_LUT4
set_location spi_slave_1.miso_data_out_8_THRU_LUT4_0 2 9 6 #SB_LUT4
set_location spi_slave_1.miso_data_out_7_THRU_LUT4_0 4 11 3 #SB_LUT4
set_location spi_slave_1.miso_data_out_6_THRU_LUT4_0 4 11 0 #SB_LUT4
set_location spi_slave_1.miso_data_out_5_THRU_LUT4_0 2 9 5 #SB_LUT4
set_location spi_slave_1.miso_data_out_4_THRU_LUT4_0 2 9 7 #SB_LUT4
set_location spi_slave_1.miso_data_out_3_THRU_LUT4_0 4 11 2 #SB_LUT4
set_location spi_slave_1.miso_data_out_23_THRU_LUT4_0 2 9 4 #SB_LUT4
set_location spi_slave_1.miso_data_out_22_THRU_LUT4_0 2 9 3 #SB_LUT4
set_location spi_slave_1.miso_data_out_21_THRU_LUT4_0 2 9 2 #SB_LUT4
set_location spi_slave_1.miso_data_out_20_THRU_LUT4_0 2 9 1 #SB_LUT4
set_location spi_slave_1.miso_data_out_2_THRU_LUT4_0 4 11 6 #SB_LUT4
set_location spi_slave_1.miso_data_out_19_THRU_LUT4_0 2 9 0 #SB_LUT4
set_location spi_slave_1.miso_data_out_18_THRU_LUT4_0 4 11 4 #SB_LUT4
set_location spi_slave_1.miso_data_out_17_THRU_LUT4_0 5 12 7 #SB_LUT4
set_location spi_slave_1.miso_data_out_16_THRU_LUT4_0 5 12 6 #SB_LUT4
set_location spi_slave_1.miso_data_out_15_THRU_LUT4_0 5 12 5 #SB_LUT4
set_location spi_slave_1.miso_data_out_14_THRU_LUT4_0 4 12 3 #SB_LUT4
set_location spi_slave_1.miso_data_out_13_THRU_LUT4_0 4 12 4 #SB_LUT4
set_location spi_slave_1.miso_data_out_12_THRU_LUT4_0 5 12 4 #SB_LUT4
set_location spi_slave_1.miso_data_out_11_THRU_LUT4_0 5 12 3 #SB_LUT4
set_location spi_slave_1.miso_data_out_10_THRU_LUT4_0 5 12 2 #SB_LUT4
set_location spi_slave_1.miso_data_out_1_THRU_LUT4_0 4 11 1 #SB_LUT4
set_location spi_slave_1.miso_data_out_0_THRU_LUT4_0 5 12 0 #SB_LUT4
set_location spi_slave_1.clk_1_THRU_LUT4_0 2 11 5 #SB_LUT4
set_location spi_slave_1.clk_0_THRU_LUT4_0 2 11 0 #SB_LUT4
set_location spi_slave_1.bitcnt_rx_RNIPNM61_4_spi_slave_1.mosi_rx_REP_LUT4_0 1 9 2 #SB_LUT4
set_location sb_translator_1.rgb_data_out_9_THRU_LUT4_0 11 9 3 #SB_LUT4
set_location sb_translator_1.rgb_data_out_8_THRU_LUT4_0 11 8 7 #SB_LUT4
set_location sb_translator_1.rgb_data_out_7_THRU_LUT4_0 13 7 4 #SB_LUT4
set_location sb_translator_1.rgb_data_out_6_THRU_LUT4_0 13 9 5 #SB_LUT4
set_location sb_translator_1.rgb_data_out_5_THRU_LUT4_0 11 9 4 #SB_LUT4
set_location sb_translator_1.rgb_data_out_4_THRU_LUT4_0 11 9 2 #SB_LUT4
set_location sb_translator_1.rgb_data_out_3_THRU_LUT4_0 13 7 2 #SB_LUT4
set_location sb_translator_1.rgb_data_out_23_THRU_LUT4_0 12 10 2 #SB_LUT4
set_location sb_translator_1.rgb_data_out_22_THRU_LUT4_0 12 10 7 #SB_LUT4
set_location sb_translator_1.rgb_data_out_21_THRU_LUT4_0 11 9 7 #SB_LUT4
set_location sb_translator_1.rgb_data_out_20_THRU_LUT4_0 11 9 5 #SB_LUT4
set_location sb_translator_1.rgb_data_out_2_THRU_LUT4_0 12 9 7 #SB_LUT4
set_location sb_translator_1.rgb_data_out_19_THRU_LUT4_0 13 7 3 #SB_LUT4
set_location sb_translator_1.rgb_data_out_18_THRU_LUT4_0 9 7 4 #SB_LUT4
set_location sb_translator_1.rgb_data_out_17_THRU_LUT4_0 12 10 1 #SB_LUT4
set_location sb_translator_1.rgb_data_out_16_THRU_LUT4_0 9 7 7 #SB_LUT4
set_location sb_translator_1.rgb_data_out_15_THRU_LUT4_0 9 7 6 #SB_LUT4
set_location sb_translator_1.rgb_data_out_14_THRU_LUT4_0 12 10 3 #SB_LUT4
set_location sb_translator_1.rgb_data_out_13_THRU_LUT4_0 11 9 0 #SB_LUT4
set_location sb_translator_1.rgb_data_out_12_THRU_LUT4_0 9 7 3 #SB_LUT4
set_location sb_translator_1.rgb_data_out_11_THRU_LUT4_0 11 9 1 #SB_LUT4
set_location sb_translator_1.rgb_data_out_10_THRU_LUT4_0 9 7 1 #SB_LUT4
set_location sb_translator_1.rgb_data_out_1_THRU_LUT4_0 11 9 6 #SB_LUT4
set_location sb_translator_1.rgb_data_out_0_THRU_LUT4_0 9 7 0 #SB_LUT4
set_location sb_translator_1.num_leds_9_THRU_LUT4_0 5 4 3 #SB_LUT4
set_location sb_translator_1.num_leds_8_THRU_LUT4_0 5 4 2 #SB_LUT4
set_location sb_translator_1.num_leds_7_THRU_LUT4_0 5 3 7 #SB_LUT4
set_location sb_translator_1.num_leds_6_THRU_LUT4_0 4 2 0 #SB_LUT4
set_location sb_translator_1.num_leds_5_THRU_LUT4_0 4 2 1 #SB_LUT4
set_location sb_translator_1.num_leds_4_THRU_LUT4_0 5 3 6 #SB_LUT4
set_location sb_translator_1.num_leds_3_THRU_LUT4_0 5 3 5 #SB_LUT4
set_location sb_translator_1.num_leds_2_THRU_LUT4_0 5 3 4 #SB_LUT4
set_location sb_translator_1.num_leds_15_THRU_LUT4_0 8 5 1 #SB_LUT4
set_location sb_translator_1.num_leds_14_THRU_LUT4_0 5 3 3 #SB_LUT4
set_location sb_translator_1.num_leds_13_THRU_LUT4_0 5 3 2 #SB_LUT4
set_location sb_translator_1.num_leds_12_THRU_LUT4_0 5 3 1 #SB_LUT4
set_location sb_translator_1.num_leds_11_THRU_LUT4_0 5 3 0 #SB_LUT4
set_location sb_translator_1.num_leds_10_THRU_LUT4_0 5 4 7 #SB_LUT4
set_location sb_translator_1.num_leds_1_THRU_LUT4_0 6 3 2 #SB_LUT4
set_location sb_translator_1.num_leds_0_THRU_LUT4_0 6 3 1 #SB_LUT4
set_location sb_translator_1.instr_out_9_THRU_LUT4_0 2 8 7 #SB_LUT4
set_location sb_translator_1.instr_out_8_THRU_LUT4_0 2 8 6 #SB_LUT4
set_location sb_translator_1.instr_out_23_THRU_LUT4_0 2 8 5 #SB_LUT4
set_location sb_translator_1.instr_out_22_THRU_LUT4_0 2 8 4 #SB_LUT4
set_location sb_translator_1.instr_out_21_THRU_LUT4_0 2 8 3 #SB_LUT4
set_location sb_translator_1.instr_out_20_THRU_LUT4_0 2 8 2 #SB_LUT4
set_location sb_translator_1.instr_out_19_THRU_LUT4_0 2 8 1 #SB_LUT4
set_location sb_translator_1.instr_out_18_THRU_LUT4_0 2 8 0 #SB_LUT4
set_location sb_translator_1.instr_out_17_THRU_LUT4_0 5 13 7 #SB_LUT4
set_location sb_translator_1.instr_out_16_THRU_LUT4_0 5 13 6 #SB_LUT4
set_location sb_translator_1.instr_out_15_THRU_LUT4_0 5 13 5 #SB_LUT4
set_location sb_translator_1.instr_out_14_THRU_LUT4_0 5 13 4 #SB_LUT4
set_location sb_translator_1.instr_out_13_THRU_LUT4_0 5 13 3 #SB_LUT4
set_location sb_translator_1.instr_out_12_THRU_LUT4_0 5 13 2 #SB_LUT4
set_location sb_translator_1.instr_out_11_THRU_LUT4_0 5 13 1 #SB_LUT4
set_location sb_translator_1.instr_out_10_THRU_LUT4_0 5 13 0 #SB_LUT4
set_location demux.N_424_i_0_o2_sb_translator_1.rgb_data_tmp_16_REP_LUT4_0 6 7 1 #SB_LUT4
set_location demux.N_424_i_0_o2_sb_translator_1.rgb_data_tmp_0_REP_LUT4_0 7 7 6 #SB_LUT4
set_location demux.N_424_i_0_o2_sb_translator_1.instr_out_0_REP_LUT4_0 6 9 3 #SB_LUT4
set_location demux.N_423_i_0_o2_sb_translator_1.rgb_data_tmp_17_REP_LUT4_0 9 10 5 #SB_LUT4
set_location demux.N_423_i_0_o2_sb_translator_1.rgb_data_tmp_1_REP_LUT4_0 9 9 4 #SB_LUT4
set_location demux.N_423_i_0_o2_sb_translator_1.instr_out_1_REP_LUT4_0 9 11 4 #SB_LUT4
set_location demux.N_422_i_0_o2_sb_translator_1.rgb_data_tmp_18_REP_LUT4_0 6 7 0 #SB_LUT4
set_location demux.N_422_i_0_o2_sb_translator_1.rgb_data_tmp_10_REP_LUT4_0 8 9 3 #SB_LUT4
set_location demux.N_422_i_0_o2_sb_translator_1.instr_out_2_REP_LUT4_0 6 9 0 #SB_LUT4
set_location demux.N_421_i_0_o2_sb_translator_1.rgb_data_tmp_19_REP_LUT4_0 9 10 3 #SB_LUT4
set_location demux.N_421_i_0_o2_sb_translator_1.rgb_data_tmp_11_REP_LUT4_0 7 10 2 #SB_LUT4
set_location demux.N_421_i_0_o2_sb_translator_1.instr_out_3_REP_LUT4_0 9 11 3 #SB_LUT4
set_location demux.N_420_i_0_o2_sb_translator_1.rgb_data_tmp_20_REP_LUT4_0 11 10 6 #SB_LUT4
set_location demux.N_420_i_0_o2_sb_translator_1.rgb_data_tmp_12_REP_LUT4_0 8 9 2 #SB_LUT4
set_location demux.N_420_i_0_o2_sb_translator_1.instr_out_4_REP_LUT4_0 9 11 5 #SB_LUT4
set_location demux.N_419_i_0_o2_sb_translator_1.rgb_data_tmp_21_REP_LUT4_0 9 10 2 #SB_LUT4
set_location demux.N_419_i_0_o2_sb_translator_1.rgb_data_tmp_13_REP_LUT4_0 7 10 1 #SB_LUT4
set_location demux.N_419_i_0_o2_sb_translator_1.instr_out_5_REP_LUT4_0 9 11 2 #SB_LUT4
set_location demux.N_418_i_0_o2_sb_translator_1.rgb_data_tmp_22_REP_LUT4_0 9 10 1 #SB_LUT4
set_location demux.N_418_i_0_o2_sb_translator_1.rgb_data_tmp_14_REP_LUT4_0 8 9 1 #SB_LUT4
set_location demux.N_418_i_0_o2_sb_translator_1.instr_out_6_REP_LUT4_0 9 11 1 #SB_LUT4
set_location demux.N_417_i_0_o2_sb_translator_1.rgb_data_tmp_23_REP_LUT4_0 9 10 0 #SB_LUT4
set_location demux.N_417_i_0_o2_sb_translator_1.rgb_data_tmp_15_REP_LUT4_0 8 9 0 #SB_LUT4
set_location demux.N_417_i_0_o2_sb_translator_1.instr_out_7_REP_LUT4_0 9 11 0 #SB_LUT4
set_location ws2812.bit_counter[0] 12 3 7 #SB_DFFR
set_location spi_slave_1.mosi_data_out[23] 2 4 1 #SB_DFFER
set_location sb_translator_1.state56_a_5_cry_0_c 8 3 1 #SB_CARRY
set_location sb_translator_1.instr_tmp_RNO[1] 6 6 4 #SB_LUT4
set_location sb_translator_1.cnt_leds_RNI8VOI7[0] 9 3 4 #SB_LUT4
set_location spi_slave_1.miso_RNO_5 2 12 1 #SB_LUT4
set_location spi_slave_1.bitcnt_tx_RNO[4] 1 12 4 #SB_LUT4
set_location sb_translator_1.cnt_leds_RNO[12] 7 5 4 #SB_LUT4
set_location sb_translator_1.cnt_leds_RNI8LUE[1] 7 3 6 #SB_LUT4
set_location genblk1_genblk1_9__ram_i.mem_mem_0_0 3 13 0 #SB_RAM40_4KNR
set_location demux.N_417_i_0_a3_1 4 9 6 #SB_LUT4
set_location spi_slave_1.mosi_data_in_RNO[20] 2 3 2 #SB_LUT4
set_location sb_translator_1.state56_a_5_cry_5_c 8 3 6 #SB_CARRY
set_location sb_translator_1.cnt_ram_read_RNINT0G1_2[1] 6 3 7 #SB_LUT4
set_location sb_translator_1.addr_out_RNO[8] 6 12 0 #SB_LUT4
set_location spi_slave_1.bitcnt_rx_RNIPNM61[4] 1 9 0 #SB_LUT4
set_location sb_translator_1.un1_num_leds_0_cry_2_c 4 3 1 #SB_CARRY
set_location sb_translator_1.rgb_data_tmp[15] 8 9 0 #SB_DFFER
set_location sb_translator_1.num_leds[12] 5 3 1 #SB_DFFER
set_location ws2812.un1_rgb_counter_cry_2_c 12 8 2 #SB_CARRY
set_location spi_slave_1.mosi_data_in[15] 5 1 5 #SB_DFFER
set_location spi_slave_1.miso_data_out[9] 5 12 1 #SB_DFFE
set_location sb_translator_1.instr_out[21] 2 8 3 #SB_DFFER
set_location ws2812.rgb_counter_RNIOQ324[0] 11 8 4 #SB_LUT4
set_location ws2812.bit_counter_0_RNO[0] 12 4 7 #SB_LUT4
set_location spi_slave_1.mosi_data_in[5] 4 5 5 #SB_DFFER
set_location sb_translator_1.ram_we[11] 4 7 7 #SB_DFFER
set_location sb_translator_1.ram_sel_RNO[6] 4 8 2 #SB_LUT4
set_location sb_translator_1.instr_tmp[0] 6 6 3 #SB_DFFER
set_location sb_translator_1.cnt_RNO_0[5] 1 5 7 #SB_LUT4
set_location sb_translator_1.cnt_RNISN4O[3] 1 3 3 #SB_LUT4
set_location spi_slave_1.mosi_data_out[11] 5 2 3 #SB_DFFER
set_location ws2812.data_RNO_2 12 7 1 #SB_LUT4
set_location spi_slave_1.bitcnt_rx[3] 1 10 3 #SB_DFFER
set_location sb_translator_1.ram_sel[6] 4 8 2 #SB_DFFER
set_location sb_translator_1.instr_tmp_RNO[4] 6 6 7 #SB_LUT4
set_location ws2812.bit_counter_RNO[0] 12 3 7 #SB_LUT4
set_location sb_translator_1.rgb_data_out[5] 11 9 4 #SB_DFFER
set_location ws2812.bit_counter_0_RNIVFT2[5] 12 4 5 #SB_LUT4
set_location spi_slave_1.mosi_data_in_RNO[6] 4 5 6 #SB_LUT4
set_location sb_translator_1.state_RNI88IGA[0] 6 7 7 #SB_LUT4
set_location sb_translator_1.ram_we[7] 4 7 4 #SB_DFFER
set_location spi_slave_1.mosi_rx 1 9 2 #SB_DFFR
set_location sb_translator_1.instr_out[18] 2 8 0 #SB_DFFER
set_location sb_translator_1.cnt_leds_RNO[8] 7 5 0 #SB_LUT4
set_location sb_translator_1.addr_out[7] 6 5 7 #SB_DFFER
set_location ws2812.un6_data_cry_1_c 12 5 1 #SB_CARRY
set_location demux.N_424_i_0_o2_0_4 7 11 5 #SB_LUT4
set_location spi_slave_1.mosi_data_out[8] 5 2 1 #SB_DFFER
set_location sb_translator_1.rgb_data_tmp[12] 8 9 2 #SB_DFFER
set_location sb_translator_1.num_leds[11] 5 3 0 #SB_DFFER
set_location spi_slave_1.mosi_data_in[10] 5 1 0 #SB_DFFER
set_location spi_slave_1.bitcnt_rx_RNO[3] 1 10 3 #SB_LUT4
set_location demux.N_424_i_0_a2_33 7 11 4 #SB_LUT4
set_location ws2812.bit_counter_0_RNO[3] 11 5 5 #SB_LUT4
set_location spi_slave_1.mosi_data_in_RNO[15] 5 1 5 #SB_LUT4
set_location spi_slave_1.bitcnt_rx_cry_c[2] 1 10 2 #SB_CARRY
set_location sb_translator_1.ram_sel_RNO[3] 5 10 3 #SB_LUT4
set_location sb_translator_1.instr_tmp[3] 6 6 6 #SB_DFFER
set_location sb_translator_1.cnt_leds_RNI15HT[13] 8 6 6 #SB_LUT4
set_location ws2812.bit_counter_RNIFOHA[4] 11 7 3 #SB_LUT4
set_location spi_slave_1.mosi_data_out[16] 5 5 0 #SB_DFFER
set_location sb_translator_1.cnt_leds_RNIV62R1[13] 8 6 2 #SB_LUT4
set_location sb_translator_1.cnt_leds[0] 7 4 0 #SB_DFFER
set_location sb_translator_1.cnt_RNO[9] 2 7 2 #SB_LUT4
set_location sb_translator_1.cnt_RNIJ7EF_2[9] 2 7 4 #SB_LUT4
set_location sb_translator_1.state56_a_5_cry_2_c 8 3 3 #SB_CARRY
set_location sb_translator_1.rgb_data_out[10] 9 7 1 #SB_DFFER
set_location sb_translator_1.cnt_RNI5A39A[4] 1 5 6 #SB_CARRY
set_location spi_slave_1.bitcnt_rx[4] 1 10 4 #SB_DFFER
set_location sb_translator_1.ram_sel[3] 5 10 3 #SB_DFFER
set_location ws2812.bit_counter_RNO[5] 11 6 1 #SB_LUT4
set_location sb_translator_1.instr_tmp[17] 1 11 6 #SB_DFFR
set_location spi_slave_1.mosi_buffer[1] 4 13 2 #SB_DFFR
set_location sb_translator_1.state_RNIHS98_0[0] 4 8 1 #SB_LUT4
set_location sb_translator_1.rgb_data_out[2] 12 9 7 #SB_DFFER
set_location spi_slave_1.mosi_data_in_RNO[3] 4 5 3 #SB_LUT4
set_location sb_translator_1.ram_we[0] 5 7 0 #SB_DFFER
set_location sb_translator_1.num_leds_RNIR234[0] 1 3 0 #SB_CARRY
set_location sb_translator_1.cnt_RNI8Q2Q[15] 1 4 7 #SB_LUT4
set_location sb_translator_1.addr_out[2] 6 5 2 #SB_DFFER
set_location ws2812.bit_counter_RNICLHA[1] 12 4 1 #SB_LUT4
set_location spi_slave_1.miso_RNO_13 6 12 3 #SB_LUT4
set_location sb_translator_1.rgb_data_tmp[20] 11 10 6 #SB_DFFER
set_location sb_translator_1.num_leds[9] 5 4 3 #SB_DFFER
set_location sb_translator_1.cnt_leds_RNI39BU_0[10] 6 4 7 #SB_LUT4
set_location sb_translator_1.addr_out_RNO[6] 6 5 6 #SB_LUT4
set_location demux.N_423_i_0_o2_0 7 9 5 #SB_LUT4
set_location ws2812.rgb_counter_RNO_0[3] 12 8 3 #SB_LUT4
set_location sb_translator_1.state56_a_5_cry_12_c_RNIS1LQ2 8 4 6 #SB_LUT4
set_location sb_translator_1.num_leds[14] 5 3 3 #SB_DFFER
set_location sb_translator_1.cnt[3] 2 5 2 #SB_DFFR
set_location spi_slave_1.bitcnt_rx_RNO[0] 1 10 0 #SB_LUT4
set_location sb_translator_1.cnt_RNIQ4UI[16] 1 5 0 #SB_LUT4
set_location sb_translator_1.addr_out_RNO_0[3] 6 2 0 #SB_LUT4
set_location ws2812.rgb_counter_RNI2AOD3[2] 13 8 3 #SB_LUT4
set_location spi_slave_1.mosi_data_in_RNO[10] 5 1 0 #SB_LUT4
set_location spi_slave_1.bitcnt_rx_cry_c[1] 1 10 1 #SB_CARRY
set_location sb_translator_1.ram_sel_RNO[0] 5 10 0 #SB_LUT4
set_location sb_translator_1.cnt_leds_cry_c[10] 7 5 2 #SB_CARRY
set_location sb_translator_1.cnt_leds[3] 7 4 3 #SB_DFFER
set_location demux.N_424_i_0_o2_16 5 11 1 #SB_LUT4
set_location demux.N_420_i_0_o2_8 9 12 7 #SB_LUT4
set_location ws2812.un6_data_cry_0_c 12 5 0 #SB_CARRY
set_location sb_translator_1.state56_a_5_cry_12_c 8 4 5 #SB_CARRY
set_location sb_translator_1.rgb_data_out[17] 12 10 1 #SB_DFFER
set_location sb_translator_1.cnt_RNIO5UP[11] 1 4 3 #SB_LUT4
set_location sb_translator_1.cnt[12] 2 7 1 #SB_DFFR
set_location sb_translator_1.instr_tmp_RNO[22] 2 7 7 #SB_LUT4
set_location sb_translator_1.cnt_leds_RNIVPTT[4] 7 3 4 #SB_LUT4
set_location demux.N_424_i_0_o2_0_11 6 10 5 #SB_LUT4
set_location demux.N_421_i_0_o2_6 4 9 5 #SB_LUT4
set_location ws2812.rgb_counter_RNI0UAI1[2] 13 7 1 #SB_LUT4
set_location ws2812.bit_counter_0_RNILE643[2] 11 3 1 #SB_LUT4
set_location sb_translator_1.state56_a_5_cry_10_c_RNI8BIQ2 8 4 4 #SB_LUT4
set_location sb_translator_1.rgb_data_tmp[5] 11 11 1 #SB_DFFER
set_location sb_translator_1.ram_we_6_0_0_a2_1[0] 6 9 6 #SB_LUT4
set_location demux.N_419_i_0_o2_8 8 12 6 #SB_LUT4
set_location ws2812.bit_counter_0_RNIOCUQ[2] 11 7 0 #SB_LUT4
set_location spi_slave_1.miso_data_out[20] 2 9 1 #SB_DFFE
set_location sb_translator_1.un1_num_leds_0_cry_3_c_RNIJ3IK 4 3 3 #SB_LUT4
set_location sb_translator_1.num_leds_RNIRUGT[10] 6 4 1 #SB_LUT4
set_location sb_translator_1.num_leds_RNI0EVE[8] 5 4 1 #SB_LUT4
set_location sb_translator_1.cnt_leds_RNIJDTT[2] 7 3 7 #SB_LUT4
set_location sb_translator_1.cnt_RNI878O[6] 1 3 6 #SB_LUT4
set_location sb_translator_1.ram_sel_6_0_0_a2_2[5] 6 9 4 #SB_LUT4
set_location sb_translator_1.cnt_RNI20BGA[6] 1 6 0 #SB_CARRY
set_location demux.N_421_i_0_a3_4 7 9 2 #SB_LUT4
set_location ws2812.un6_data_cry_3_c 12 5 3 #SB_CARRY
set_location sb_translator_1.instr_out[12] 5 13 2 #SB_DFFER
set_location sb_translator_1.addr_out[1] 6 5 1 #SB_DFFER
set_location demux.N_424_i_0_a2_1 6 11 0 #SB_LUT4
set_location ws2812.data_RNO_12 12 6 0 #SB_LUT4
set_location ws2812.bit_counter_0[4] 12 4 6 #SB_DFFS
set_location spi_slave_1.miso_RNO_14 6 12 5 #SB_LUT4
set_location sb_translator_1.state_RNIQIHP[0] 4 8 3 #SB_LUT4
set_location sb_translator_1.num_leds[6] 4 2 0 #SB_DFFER
set_location sb_translator_1.cnt_leds_RNIJ5J22[0] 8 3 1 #SB_LUT4
set_location sb_translator_1.addr_out_RNO[1] 6 5 1 #SB_LUT4
set_location demux.N_422_i_0_o2_7 7 8 6 #SB_LUT4
set_location sb_translator_1.state[7] 9 3 3 #SB_DFFR
set_location sb_translator_1.cnt[4] 2 5 3 #SB_DFFR
set_location sb_translator_1.un1_num_leds_0_cry_4_c 4 3 3 #SB_CARRY
set_location sb_translator_1.cnt_ram_read_RNO_0[1] 6 9 2 #SB_LUT4
set_location sb_translator_1.addr_out_RNO_0[4] 9 5 4 #SB_LUT4
set_location ws2812.un1_bit_counter_12_cry_10_c 11 6 2 #SB_CARRY
set_location spi_slave_1.mosi_data_in_RNO[13] 5 1 3 #SB_LUT4
set_location sb_translator_1.un1_num_leds_0_cry_2_c_RNIGVGK 4 3 2 #SB_LUT4
set_location spi_slave_1.mosi_buffer_RNO[1] 4 13 2 #SB_LUT4
set_location spi_slave_1.miso_data_out[19] 2 9 0 #SB_DFFE
set_location sb_translator_1.data_out_RNO[5] 5 6 5 #SB_LUT4
set_location sb_translator_1.cnt_leds[6] 7 4 6 #SB_DFFER
set_location sb_translator_1.cnt_RNO[3] 2 5 2 #SB_LUT4
set_location demux.N_424_i_0_o2_11 5 11 0 #SB_LUT4
set_location demux.N_423_i_0_o2 7 10 6 #SB_LUT4
set_location spi_slave_1.clk[1] 2 11 5 #SB_DFF
set_location sb_translator_1.ram_sel_RNO[12] 5 10 6 #SB_LUT4
set_location sb_translator_1.cnt[15] 2 6 5 #SB_DFFR
set_location sb_translator_1.instr_tmp[22] 2 7 7 #SB_DFFR
set_location ws2812.bit_counter_0_RNIRBT2[1] 11 4 2 #SB_LUT4
set_location sb_translator_1.un1_num_leds_0_cry_7_c_RNIVJMK 4 3 7 #SB_LUT4
set_location sb_translator_1.rgb_data_tmp[0] 7 7 6 #SB_DFFER
set_location sb_translator_1.ram_we_6_0_0_a2_1[7] 6 7 2 #SB_LUT4
set_location demux.N_422_i_0_a3_1 5 9 4 #SB_LUT4
set_location ws2812.bit_counter_RNIGPHA[5] 12 6 6 #SB_LUT4
set_location sb_translator_1.un1_num_leds_0_cry_8_c_RNI2ONK 4 4 0 #SB_LUT4
set_location sb_translator_1.cnt_RNICOR1A[2] 1 5 4 #SB_CARRY
set_location sb_translator_1.ram_sel[12] 5 10 6 #SB_DFFER
set_location sb_translator_1.instr_out[11] 5 13 1 #SB_DFFER
set_location demux.N_424_i_0_a2_6 5 11 5 #SB_LUT4
set_location ws2812.state_RNO[1] 11 3 3 #SB_LUT4
set_location ws2812.bit_counter_0[3] 11 5 5 #SB_DFFS
set_location spi_slave_1.miso_RNO_19 4 12 0 #SB_LUT4
set_location sb_translator_1.ram_we_RNO[10] 5 7 2 #SB_LUT4
set_location sb_translator_1.num_leds[3] 5 3 5 #SB_DFFER
set_location sb_translator_1.cnt_leds_cry_c[7] 7 4 7 #SB_CARRY
set_location sb_translator_1.cnt_leds_RNO[6] 7 4 6 #SB_LUT4
set_location demux.N_423_i_0_o2_6 5 9 2 #SB_LUT4
set_location demux.N_422_i_0_o2_4 9 12 4 #SB_LUT4
set_location ws2812.rgb_counter_0_RNIN42Q[3] 12 7 4 #SB_LUT4
set_location spi_slave_1.mosi_data_out[1] 2 4 4 #SB_DFFER
set_location spi_slave_1.bitcnt_tx[2] 1 12 5 #SB_DFF
set_location sb_translator_1.un1_num_leds_0_cry_9_c 4 4 0 #SB_CARRY
set_location sb_translator_1.cnt_leds_RNI48HT[14] 8 6 3 #SB_LUT4
set_location ws2812.un6_data_cry_4_c_RNIMQGB 12 5 5 #SB_LUT4
set_location ws2812.rgb_counter[3] 9 5 0 #SB_DFFR
set_location spi_slave_1.miso_data_out[6] 4 11 0 #SB_DFFE
set_location genblk1_genblk1_8__ram_i.mem_mem_0_0 3 11 0 #SB_RAM40_4KNR
set_location spi_slave_1.mosi_data_in[8] 2 3 6 #SB_DFFER
set_location spi_slave_1.miso_data_out[16] 5 12 6 #SB_DFFE
set_location sb_translator_1.ram_we_RNO[7] 4 7 4 #SB_LUT4
set_location sb_translator_1.data_out_RNO[6] 5 6 6 #SB_LUT4
set_location sb_translator_1.cnt_RNO[0] 2 6 2 #SB_LUT4
set_location sb_translator_1.cnt_RNIKMBO[9] 1 4 1 #SB_LUT4
set_location ws2812.un6_data_cry_2_c 12 5 2 #SB_CARRY
set_location ws2812.rgb_counter_RNIRMNJ1[3] 13 7 7 #SB_LUT4
set_location sb_translator_1.ram_sel_RNO[11] 5 8 0 #SB_LUT4
set_location sb_translator_1.instr_out[7] 9 11 0 #SB_DFFER
set_location sb_translator_1.cnt_leds[13] 7 5 5 #SB_DFFER
set_location demux.N_423_i_0_a3_1 4 9 7 #SB_LUT4
set_location demux.N_418_i_0_o2_0 9 8 0 #SB_LUT4
set_location ws2812.rgb_counter_RNO[1] 12 8 1 #SB_LUT4
set_location sb_translator_1.instr_tmp[21] 1 8 4 #SB_DFFR
set_location sb_translator_1.cnt_leds_RNI39BU_2[10] 6 6 2 #SB_LUT4
set_location demux.N_421_i_0_o2_8 8 8 5 #SB_LUT4
set_location ws2812.state[0] 13 6 0 #SB_DFFS
set_location ws2812.data_RNO_9 12 5 2 #SB_LUT4
set_location sb_translator_1.state_RNI9ILJ[0] 4 8 5 #SB_LUT4
set_location sb_translator_1.rgb_data_tmp[3] 9 9 3 #SB_DFFER
set_location demux.N_422_i_0_a3_4 6 8 6 #SB_LUT4
set_location sb_translator_1.un1_num_leds_0_cry_10_c 4 4 1 #SB_CARRY
set_location sb_translator_1.data_out[2] 5 6 2 #SB_DFFER
set_location demux.N_420_i_0_a3 9 9 7 #SB_LUT4
set_location ws2812.new_data_req 9 6 7 #SB_DFFR
set_location sb_translator_1.cnt_RNILAHE_2[10] 6 6 0 #SB_LUT4
set_location sb_translator_1.instr_out[14] 5 13 4 #SB_DFFER
set_location demux.N_422_i_0_o2 7 7 0 #SB_LUT4
set_location sb_translator_1.un1_num_leds_0_cry_6_c 4 3 5 #SB_CARRY
set_location sb_translator_1.num_leds[0] 6 3 1 #SB_DFFER
set_location sb_translator_1.cnt_leds_cry_c[4] 7 4 4 #SB_CARRY
set_location sb_translator_1.cnt_leds_RNO[5] 7 4 5 #SB_LUT4
set_location sb_translator_1.cnt_RNO_0[11] 1 6 5 #SB_LUT4
set_location demux.N_423_i_0_o2_9 5 9 3 #SB_LUT4
set_location demux.N_422_i_0_o2_1 7 8 5 #SB_LUT4
set_location demux.N_418_i_0_a3_9 8 8 0 #SB_LUT4
set_location ws2812.rgb_counter_RNIKHAI1[2] 12 7 5 #SB_LUT4
set_location spi_slave_1.mosi_data_out[4] 5 5 6 #SB_DFFER
set_location spi_slave_1.bitcnt_tx_RNIQORT2[3] 2 11 6 #SB_LUT4
set_location sb_translator_1.state[1] 9 4 3 #SB_DFFR
set_location demux.N_419_i_0_a3_5 8 11 7 #SB_LUT4
set_location sb_translator_1.cnt_RNO[16] 2 6 6 #SB_LUT4
set_location demux.N_417_i_0_o2_1 8 11 1 #SB_LUT4
set_location ws2812.rgb_counter[0] 9 5 1 #SB_DFFS
set_location spi_slave_1.mosi_data_in_RNO[19] 2 3 1 #SB_LUT4
set_location spi_slave_1.miso_data_out[1] 4 11 1 #SB_DFFE
set_location demux.N_424_i_0_a3 7 7 5 #SB_LUT4
set_location spi_slave_1.miso_data_out[13] 4 12 4 #SB_DFFE
set_location sb_translator_1.ram_we_RNO[4] 5 7 5 #SB_LUT4
set_location sb_translator_1.data_out_RNO[3] 5 6 3 #SB_LUT4
set_location sb_translator_1.cnt_leds_RNIBOUE[2] 7 3 1 #SB_LUT4
set_location sb_translator_1.cnt_leds_RNIB6UT[6] 7 2 2 #SB_LUT4
set_location sb_translator_1.cnt_RNO[5] 2 5 4 #SB_LUT4
set_location demux.N_424_i_0_o2_4 7 11 0 #SB_LUT4
set_location spi_slave_1.mosi_data_out[19] 2 4 3 #SB_DFFER
set_location spi_slave_1.mosi_data_in[21] 2 3 3 #SB_DFFER
set_location sb_translator_1.instr_out[4] 9 11 5 #SB_DFFER
set_location sb_translator_1.cnt_leds[10] 7 5 2 #SB_DFFER
set_location demux.N_418_i_0_o2_7 9 8 2 #SB_LUT4
set_location ws2812.rgb_counter_RNO[2] 12 8 2 #SB_LUT4
set_location sb_translator_1.state_RNIEL0N9[6] 1 5 1 #SB_CARRY
set_location sb_translator_1.send_leds_n_RNO 6 8 3 #SB_LUT4
set_location ws2812.bit_counter[5] 11 6 1 #SB_DFFR
set_location spi_slave_1.un1_bitcnt_tx_1_cry_3_c 1 12 3 #SB_CARRY
set_location demux.N_422_i_0_a3_7 8 10 0 #SB_LUT4
set_location sb_translator_1.rgb_data_out[21] 11 9 7 #SB_DFFER
set_location sb_translator_1.data_out[7] 5 6 7 #SB_DFFER
set_location demux.N_424_i_0_a2_12 7 9 3 #SB_LUT4
set_location spi_slave_1.miso_RNO_0 2 12 5 #SB_LUT4
set_location spi_slave_1.bitcnt_tx_RNO[1] 1 12 6 #SB_LUT4
set_location sb_translator_1.cnt_RNICC9O[7] 1 3 7 #SB_LUT4
set_location demux.N_424_i_0_a2_8 6 11 2 #SB_LUT4
set_location sb_translator_1.state56_a_5_cry_10_c_RNIMPSBK 9 3 1 #SB_LUT4
set_location sb_translator_1.cnt_leds_cry_c[1] 7 4 1 #SB_CARRY
set_location sb_translator_1.cnt_leds_RNO[0] 7 4 0 #SB_LUT4
set_location sb_translator_1.cnt_RNO_0[12] 1 6 6 #SB_LUT4
set_location demux.N_417_i_0_a3_4 8 11 3 #SB_LUT4
set_location spi_slave_1.un1_bitcnt_tx_1_cry_0_c 1 12 0 #SB_CARRY
set_location spi_slave_1.mosi_data_out[7] 5 5 5 #SB_DFFER
set_location sb_translator_1.un1_num_leds_0_cry_2_c_RNIF4AL1 1 3 3 #SB_CARRY
set_location sb_translator_1.state_RNIOH7V9[0] 6 7 5 #SB_LUT4
set_location sb_translator_1.cnt_RNO[15] 2 6 5 #SB_LUT4
set_location sb_translator_1.cnt_RNIOI3O[2] 1 3 2 #SB_LUT4
set_location demux.N_417_i_0_o2_6 4 10 0 #SB_LUT4
set_location spi_slave_1.mosi_data_in[18] 2 3 0 #SB_DFFER
set_location spi_slave_1.mosi_data_in[2] 4 5 2 #SB_DFFER
set_location spi_slave_1.miso_data_out[10] 5 12 2 #SB_DFFE
set_location sb_translator_1.ram_we_RNO[1] 5 7 7 #SB_LUT4
set_location sb_translator_1.cnt_leds_RNIHUUE[4] 7 3 5 #SB_LUT4
set_location sb_translator_1.cnt_RNO_0[0] 2 6 1 #SB_LUT4
set_location demux.N_424_i_0_o2_1 7 7 3 #SB_LUT4
set_location demux.N_420_i_0_o2_4 9 12 6 #SB_LUT4
set_location ws2812.rgb_counter_RNIGEUO[0] 13 8 2 #SB_LUT4
set_location sb_translator_1.un1_num_leds_0_cry_8_c_RNIEN7H5 1 4 1 #SB_CARRY
set_location sb_translator_1.state_RNIEL0N9_0[6] 6 7 4 #SB_LUT4
set_location sb_translator_1.instr_out[1] 9 11 4 #SB_DFFER
set_location sb_translator_1.cnt_ram_read[0] 6 8 0 #SB_DFFR
set_location sb_translator_1.cnt_leds[8] 7 5 0 #SB_DFFER
set_location sb_translator_1.cnt_leds[15] 7 5 7 #SB_DFFER
set_location ws2812.bit_counter_0_RNIG4UQ[0] 11 4 3 #SB_LUT4
set_location sb_translator_1.un1_num_leds_0_cry_1_c 4 3 0 #SB_CARRY
set_location sb_translator_1.rgb_data_out[18] 9 7 4 #SB_DFFER
set_location ws2812.data_RNO_7 11 7 7 #SB_LUT4
set_location ws2812.bit_counter[2] 11 5 6 #SB_DFFR
set_location sb_translator_1.rgb_data_tmp[9] 7 10 6 #SB_DFFER
set_location sb_translator_1.instr_tmp_RNO[3] 6 6 6 #SB_LUT4
set_location demux.N_419_i_0_o2_4 9 12 5 #SB_LUT4
set_location sb_translator_1.state56_a_5_cry_4_c_RNI6V9N1 8 3 6 #SB_LUT4
set_location sb_translator_1.data_out[4] 5 6 4 #SB_DFFER
set_location demux.N_424_i_0_a2_11 6 10 7 #SB_LUT4
set_location demux.N_417_i_0_o2 9 9 2 #SB_LUT4
set_location spi_slave_1.miso_RNO_7 2 11 4 #SB_LUT4
set_location spi_slave_1.bitcnt_tx_RNO[2] 1 12 5 #SB_LUT4
set_location sb_translator_1.cnt_leds_RNO[10] 7 5 2 #SB_LUT4
set_location ws2812.rgb_counter_RNI19OD3[1] 13 8 4 #SB_LUT4
set_location demux.N_419_i_0_o2_10 8 11 6 #SB_LUT4
set_location demux.N_417_i_0_a3_7 9 12 0 #SB_LUT4
set_location ws2812.un1_rgb_counter_cry_0_c_RNO 13 8 6 #SB_LUT4
set_location ws2812.bit_counter_RNI9RQB3[5] 9 6 5 #SB_LUT4
set_location ws2812.bit_counter_0_RNO_0[0] 11 5 2 #SB_LUT4
set_location sb_translator_1.state56_a_5_cry_12_c_RNIINPVD 9 4 2 #SB_LUT4
set_location sb_translator_1.cnt_leds_RNIQ7VE[7] 7 2 5 #SB_LUT4
set_location spi_slave_1.bitcnt_tx_RNIGFSJ2[3] 2 12 7 #SB_LUT4
set_location sb_translator_1.rgb_data_tmp[17] 9 10 5 #SB_DFFER
set_location sb_translator_1.cnt_leds_RNI1VFQ[9] 5 8 1 #SB_LUT4
set_location sb_translator_1.cnt_RNO[10] 2 5 0 #SB_LUT4
set_location spi_slave_1.mosi_data_in[17] 5 1 7 #SB_DFFER
set_location sb_translator_1.instr_out[23] 2 8 5 #SB_DFFER
set_location sb_translator_1.cnt_RNILAHE_1[10] 4 7 6 #SB_LUT4
set_location spi_slave_1.mosi_data_in[7] 4 5 7 #SB_DFFER
set_location sb_translator_1.instr_tmp[6] 4 6 1 #SB_DFFER
set_location sb_translator_1.cnt_ram_read_RNO[0] 6 8 0 #SB_LUT4
set_location sb_translator_1.cnt_RNO_0[7] 1 6 1 #SB_LUT4
set_location sb_translator_1.cnt_RNIFDF2B[10] 1 6 4 #SB_CARRY
set_location genblk1_genblk1_7__ram_i.mem_mem_0_0 3 9 0 #SB_RAM40_4KNR
set_location spi_slave_1.mosi_data_out[13] 5 2 5 #SB_DFFER
set_location demux.N_418_i_0_o2_9 4 9 1 #SB_LUT4
set_location ws2812.un6_data_cry_4_c 12 5 4 #SB_CARRY
set_location ws2812.un1_bit_counter_12_cry_0_c 11 5 0 #SB_CARRY
set_location spi_slave_1.un1_bitcnt_tx_1_cry_1_c 1 12 1 #SB_CARRY
set_location ws2812.data_RNO_0 11 7 5 #SB_LUT4
set_location spi_slave_1.mosi_data_out[20] 2 4 5 #SB_DFFER
set_location spi_slave_1.bitcnt_rx[1] 1 10 1 #SB_DFFER
set_location sb_translator_1.ram_sel[4] 5 10 5 #SB_DFFER
set_location sb_translator_1.instr_tmp_RNO[6] 4 6 1 #SB_LUT4
set_location sb_translator_1.cnt_RNIGHAO[8] 1 4 0 #SB_LUT4
set_location ws2812.bit_counter_RNIENHA[3] 11 4 0 #SB_LUT4
set_location sb_translator_1.state_RNI9ILJ_0[0] 4 8 6 #SB_LUT4
set_location sb_translator_1.rgb_data_out[7] 13 7 4 #SB_DFFER
set_location ws2812.un6_data_cry_7_c 12 5 7 #SB_CARRY
set_location spi_slave_1.mosi_data_in_RNO[4] 4 5 4 #SB_LUT4
set_location sb_translator_1.state_RNII30C[0] 4 8 7 #SB_LUT4
set_location sb_translator_1.ram_we[5] 4 7 3 #SB_DFFER
set_location sb_translator_1.num_leds_RNITOUT[8] 5 4 0 #SB_LUT4
set_location ws2812.bit_counter_0_RNO_0[5] 9 6 1 #SB_LUT4
set_location spi_slave_1.mosi_data_in_RNO[23] 2 3 5 #SB_LUT4
set_location demux.N_424_i_0_o2_0_2 5 11 7 #SB_LUT4
set_location sb_translator_1.rgb_data_tmp[14] 8 9 1 #SB_DFFER
set_location sb_translator_1.num_leds[13] 5 3 2 #SB_DFFER
set_location spi_slave_1.mosi_data_in[12] 5 1 2 #SB_DFFER
set_location sb_translator_1.instr_out[20] 2 8 2 #SB_DFFER
set_location sb_translator_1.cnt_RNI0G0Q[13] 1 4 5 #SB_LUT4
set_location ws2812.bit_counter_0_RNO[1] 9 5 2 #SB_LUT4
set_location spi_slave_1.mosi_data_in[4] 4 5 4 #SB_DFFER
set_location sb_translator_1.un1_num_leds_0_cry_13_c 4 4 4 #SB_CARRY
set_location sb_translator_1.ram_we[12] 5 7 4 #SB_DFFER
set_location sb_translator_1.ram_sel_RNO[5] 5 10 4 #SB_LUT4
set_location sb_translator_1.instr_tmp[1] 6 6 4 #SB_DFFER
set_location demux.N_424_i_0_o2_9_0 5 9 6 #SB_LUT4
set_location ws2812.un1_bit_counter_12_cry_0_c_RNO 11 3 4 #SB_LUT4
set_location spi_slave_1.mosi_data_out[10] 5 2 2 #SB_DFFER
set_location sb_translator_1.rgb_data_out[12] 9 7 3 #SB_DFFER
set_location sb_translator_1.cnt_leds_RNI1VFQ_1[9] 5 8 6 #SB_LUT4
set_location ws2812.un6_data_cry_11_c 12 6 3 #SB_CARRY
set_location ws2812.bit_counter_RNIDMHA[2] 11 4 7 #SB_LUT4
set_location spi_slave_1.bitcnt_rx[2] 1 10 2 #SB_DFFER
set_location sb_translator_1.ram_sel[1] 5 10 2 #SB_DFFER
set_location sb_translator_1.instr_tmp_RNO[5] 4 6 0 #SB_LUT4
set_location genblk1_genblk1_12__ram_i.mem_mem_0_0 10 7 0 #SB_RAM40_4KNR
set_location ws2812.bit_counter_RNO[3] 11 5 7 #SB_LUT4
set_location sb_translator_1.un1_num_leds_0_cry_4_c_RNIOFFU2 1 3 5 #SB_CARRY
set_location sb_translator_1.instr_tmp[19] 1 9 4 #SB_DFFR
set_location sb_translator_1.state56_a_5_cry_11_c 8 4 4 #SB_CARRY
set_location sb_translator_1.rgb_data_out[4] 11 9 2 #SB_DFFER
set_location sb_translator_1.cnt_leds_RNI50UT[5] 7 2 0 #SB_LUT4
set_location spi_slave_1.mosi_data_in_RNO[1] 4 5 1 #SB_LUT4
set_location sb_translator_1.ram_we[6] 5 7 6 #SB_DFFER
set_location sb_translator_1.cnt_RNIISUJA[7] 1 6 1 #SB_CARRY
set_location ws2812.un1_bit_counter_12_cry_1_c 11 5 1 #SB_CARRY
set_location ws2812.new_data_req_RNO 9 6 7 #SB_LUT4
set_location sb_translator_1.un1_num_leds_0_cry_13_c_RNI6SOI 4 4 5 #SB_LUT4
set_location sb_translator_1.instr_out[19] 2 8 1 #SB_DFFER
set_location sb_translator_1.cnt_leds_RNO[9] 7 5 1 #SB_LUT4
set_location sb_translator_1.addr_out[4] 6 5 4 #SB_DFFER
set_location ws2812.rgb_counter_RNIOLAI1[2] 12 9 1 #SB_LUT4
set_location spi_slave_1.miso_RNO_11 2 12 0 #SB_LUT4
set_location sb_translator_1.rgb_data_tmp[22] 9 10 1 #SB_DFFER
set_location sb_translator_1.addr_out_RNO[4] 6 5 4 #SB_LUT4
set_location ws2812.un1_bit_counter_12_cry_2_c 11 5 2 #SB_CARRY
set_location ws2812.rgb_counter_0_RNIR82Q[3] 12 9 6 #SB_LUT4
set_location ws2812.rgb_counter_0[3] 12 8 4 #SB_DFFS
set_location spi_slave_1.mosi_data_out[9] 5 2 0 #SB_DFFER
set_location sb_translator_1.un1_num_leds_0_cry_14_c_RNI90QI 4 4 6 #SB_LUT4
set_location sb_translator_1.rgb_data_tmp[11] 7 10 2 #SB_DFFER
set_location sb_translator_1.cnt[1] 2 6 7 #SB_DFFR
set_location spi_slave_1.mosi_data_in[11] 5 1 1 #SB_DFFER
set_location spi_slave_1.bitcnt_rx_RNO[2] 1 10 2 #SB_LUT4
set_location sb_translator_1.addr_out_RNO_0[1] 5 4 5 #SB_LUT4
set_location demux.N_424_i_0_a2_34 6 10 2 #SB_LUT4
set_location ws2812.un6_data_cry_6_c 12 5 6 #SB_CARRY
set_location ws2812.rgb_counter_RNI0NBTB[3] 11 8 5 #SB_LUT4
set_location spi_slave_1.mosi_data_in_RNO[16] 5 1 6 #SB_LUT4
set_location spi_slave_1.bitcnt_rx_cry_c[3] 1 10 3 #SB_CARRY
set_location sb_translator_1.un1_num_leds_0_cry_15_c_RNI3TEI9 1 5 0 #SB_CARRY
set_location sb_translator_1.ram_sel_RNO[2] 5 10 1 #SB_LUT4
set_location ws2812.rgb_counter_RNISPAI1[2] 13 8 0 #SB_LUT4
set_location ws2812.bit_counter_0_RNIMF643[3] 11 3 2 #SB_LUT4
set_location spi_slave_1.mosi_data_out[15] 7 1 5 #SB_DFFER
set_location sb_translator_1.cnt_leds_cry_c[12] 7 5 4 #SB_CARRY
set_location sb_translator_1.cnt_leds[1] 7 4 1 #SB_DFFER
set_location sb_translator_1.cnt_RNO[8] 2 5 7 #SB_LUT4
set_location demux.N_424_i_0_o2_14 5 11 2 #SB_LUT4
set_location demux.N_419_i_0_o2 11 11 1 #SB_LUT4
set_location sb_translator_1.state_RNI2IIJ[0] 6 9 1 #SB_LUT4
set_location sb_translator_1.rgb_data_out[11] 11 9 1 #SB_DFFER
set_location sb_translator_1.cnt[10] 2 5 0 #SB_DFFR
set_location sb_translator_1.ram_we_6_0_0_a2_2[11] 6 7 3 #SB_LUT4
set_location sb_translator_1.ram_sel[2] 5 10 1 #SB_DFFER
set_location sb_translator_1.instr_tmp_RNO[20] 1 9 5 #SB_LUT4
set_location demux.N_421_i_0_o2_0 7 8 1 #SB_LUT4
set_location ws2812.bit_counter_RNO[4] 11 6 0 #SB_LUT4
set_location sb_translator_1.un1_num_leds_0_cry_14_c 4 4 5 #SB_CARRY
set_location sb_translator_1.cnt_ram_read_RNIPFJ32[1] 6 3 3 #SB_LUT4
set_location sb_translator_1.cnt_leds_RNIPJTT[3] 7 3 2 #SB_LUT4
set_location spi_slave_1.mosi_buffer[0] 4 13 5 #SB_DFFR
set_location spi_slave_1.miso_data_out[22] 2 9 3 #SB_DFFE
set_location sb_translator_1.state56_a_5_cry_6_c 8 3 7 #SB_CARRY
set_location sb_translator_1.rgb_data_out[1] 11 9 6 #SB_DFFER
set_location spi_slave_1.mosi_data_in_RNO[2] 4 5 2 #SB_LUT4
set_location sb_translator_1.ram_we[3] 4 7 0 #SB_DFFER
set_location demux.N_421_i_0_a3_2 4 9 3 #SB_LUT4
set_location sb_translator_1.addr_out[3] 6 5 3 #SB_DFFER
set_location demux.N_424_i_0_a2_3 6 11 6 #SB_LUT4
set_location ws2812.data_RNO_10 12 5 3 #SB_LUT4
set_location spi_slave_1.miso_RNO_12 4 12 5 #SB_LUT4
set_location sb_translator_1.rgb_data_tmp[21] 9 10 2 #SB_DFFER
set_location sb_translator_1.num_leds[8] 5 4 2 #SB_DFFER
set_location sb_translator_1.addr_out_RNO[7] 6 5 7 #SB_LUT4
set_location demux.N_422_i_0_o2_9 5 9 1 #SB_LUT4
set_location ws2812.rgb_counter_RNIUE972[1] 11 8 3 #SB_LUT4
set_location sb_translator_1.num_leds[15] 8 5 1 #SB_DFFER
set_location sb_translator_1.cnt_RNI6Q0HB[12] 1 6 6 #SB_CARRY
set_location sb_translator_1.cnt[2] 2 5 1 #SB_DFFR
set_location sb_translator_1.addr_out_RNO_0[2] 5 4 6 #SB_LUT4
set_location demux.N_424_i_0_a2_37 6 11 5 #SB_LUT4
set_location demux.N_417_i_0_o2_9 4 10 1 #SB_LUT4
set_location ws2812.new_data_req_RNO_1 6 8 4 #SB_LUT4
set_location spi_slave_1.mosi_data_in_RNO[11] 5 1 1 #SB_LUT4
set_location sb_translator_1.un1_num_leds_0_cry_1_c_RNIV4P01 1 3 2 #SB_CARRY
set_location sb_translator_1.cnt_RNIJ4NCA[5] 1 5 7 #SB_CARRY
set_location sb_translator_1.cnt_leds_cry_c[11] 7 5 3 #SB_CARRY
set_location sb_translator_1.cnt_leds[4] 7 4 4 #SB_DFFER
set_location demux.N_424_i_0_o2_17 6 10 1 #SB_LUT4
set_location demux.N_421_i_0_o2 9 9 3 #SB_LUT4
set_location sb_translator_1.rgb_data_out[14] 12 10 3 #SB_DFFER
set_location sb_translator_1.cnt[13] 2 6 3 #SB_DFFR
set_location ws2812.un1_bit_counter_12_cry_3_c 11 5 3 #SB_CARRY
set_location sb_translator_1.un1_num_leds_0_cry_10_c_RNINAOR6 1 4 3 #SB_CARRY
set_location sb_translator_1.instr_tmp_RNO[23] 1 8 2 #SB_LUT4
set_location demux.N_423_i_0_o2_10 8 10 6 #SB_LUT4
set_location sb_translator_1.rgb_data_tmp[6] 9 9 6 #SB_DFFER
set_location demux.N_424_i_0_a3_7 7 11 3 #SB_LUT4
set_location spi_slave_1.miso_data_out[21] 2 9 2 #SB_DFFE
set_location spi_slave_1.miso_RNO_8 4 12 6 #SB_LUT4
set_location sb_translator_1.state56_a_5_cry_1_c 8 3 2 #SB_CARRY
set_location sb_translator_1.cnt_RNI427O[5] 1 3 5 #SB_LUT4
set_location demux.N_421_i_0_a3_7 8 8 3 #SB_LUT4
set_location sb_translator_1.state56_a_5_cry_13_c_RNICLCM7 9 4 1 #SB_LUT4
set_location sb_translator_1.state56_a_5_cry_11_c_RNIIMJQ2 8 4 5 #SB_LUT4
set_location sb_translator_1.ram_sel[10] 5 8 4 #SB_DFFER
set_location sb_translator_1.instr_out[13] 5 13 3 #SB_DFFER
set_location demux.N_424_i_0_a2_0 5 11 6 #SB_LUT4
set_location ws2812.data_RNO_13 12 6 1 #SB_LUT4
set_location ws2812.bit_counter_0[5] 11 6 3 #SB_DFFS
set_location spi_slave_1.miso_RNO_17 2 11 7 #SB_LUT4
set_location spi_slave_1.bitcnt_tx_RNIJITN1[2] 2 12 6 #SB_LUT4
set_location sb_translator_1.ram_we_RNO[12] 5 7 4 #SB_LUT4
set_location sb_translator_1.num_leds[5] 4 2 1 #SB_DFFER
set_location sb_translator_1.cnt_leds_cry_c[9] 7 5 1 #SB_CARRY
set_location sb_translator_1.addr_out_RNO[2] 6 5 2 #SB_LUT4
set_location genblk1_genblk1_13__ram_i.mem_mem_0_0 10 9 0 #SB_RAM40_4KNR
set_location demux.N_423_i_0_o2_4 8 10 4 #SB_LUT4
set_location demux.N_422_i_0_o2_6 5 9 0 #SB_LUT4
set_location demux.N_418_i_0_a3_2 4 9 0 #SB_LUT4
set_location ws2812.rgb_counter_RNIUIOE7[0] 12 7 3 #SB_LUT4
set_location ws2812.rgb_counter_RNI3BOD3[3] 13 8 5 #SB_LUT4
set_location spi_slave_1.bitcnt_tx[4] 1 12 4 #SB_DFF
set_location sb_translator_1.state[6] 9 4 0 #SB_DFFR
set_location sb_translator_1.cnt[7] 2 5 6 #SB_DFFR
set_location spi_slave_1.bitcnt_rx_RNO[4] 1 10 4 #SB_LUT4
set_location sb_translator_1.state56_a_5_cry_7_c 8 4 0 #SB_CARRY
set_location sb_translator_1.cnt_RNISAVP[12] 1 4 4 #SB_LUT4
set_location sb_translator_1.addr_out_RNO_0[7] 9 5 7 #SB_LUT4
set_location spi_slave_1.miso_data_out[4] 2 9 7 #SB_DFFE
set_location ws2812.un1_rgb_counter_cry_0_c 12 8 0 #SB_CARRY
set_location spi_slave_1.mosi_buffer_RNO[0] 4 13 5 #SB_LUT4
set_location spi_slave_1.miso_data_out[18] 4 11 4 #SB_DFFE
set_location sb_translator_1.ram_we_RNO[9] 4 7 5 #SB_LUT4
set_location sb_translator_1.data_out_RNO[4] 5 6 4 #SB_LUT4
set_location sb_translator_1.cnt_leds_cry_c[14] 7 5 6 #SB_CARRY
set_location sb_translator_1.cnt_leds[7] 7 4 7 #SB_DFFER
set_location sb_translator_1.cnt_RNO[2] 2 5 1 #SB_LUT4
set_location sb_translator_1.cnt_RNO_0[8] 1 6 2 #SB_LUT4
set_location demux.N_424_i_0_o2_12 6 11 7 #SB_LUT4
set_location sb_translator_1.un1_num_leds_0_cry_5_c 4 3 4 #SB_CARRY
set_location sb_translator_1.ram_sel_RNO[13] 5 8 2 #SB_LUT4
set_location sb_translator_1.instr_out[9] 2 8 7 #SB_DFFER
set_location sb_translator_1.cnt[16] 2 6 6 #SB_DFFR
set_location spi_slave_1.miso 2 13 1 #SB_DFFSR
set_location sb_translator_1.instr_tmp[23] 1 8 2 #SB_DFFR
set_location ws2812.bit_counter_0_RNIKD643[1] 11 3 0 #SB_LUT4
set_location sb_translator_1.state56_a_5_cry_14_c_RNI7UEO 8 5 0 #SB_LUT4
set_location sb_translator_1.rgb_data_tmp[1] 9 9 4 #SB_DFFER
set_location ws2812.rgb_counter_RNI2H7O[2] 11 8 0 #SB_LUT4
set_location ws2812.bit_counter_RNI5NQB3[1] 11 3 6 #SB_LUT4
set_location sb_translator_1.cnt_RNILO6RA[9] 1 6 3 #SB_CARRY
set_location sb_translator_1.ram_we[9] 4 7 5 #SB_DFFER
set_location sb_translator_1.cnt_RNI3I9OB[13] 1 6 7 #SB_CARRY
set_location demux.N_420_i_0_a3_7 7 11 6 #SB_LUT4
set_location ws2812.un6_data_cry_3_c_RNIKNFB 12 5 4 #SB_LUT4
set_location sb_translator_1.state_leds 6 8 2 #SB_DFFR
set_location sb_translator_1.ram_sel[13] 5 8 2 #SB_DFFER
set_location sb_translator_1.instr_out[16] 5 13 6 #SB_DFFER
set_location demux.N_424_i_0_a2_5 7 9 4 #SB_LUT4
set_location ws2812.bit_counter_0[0] 12 4 7 #SB_DFFR
set_location spi_slave_1.miso_RNO_18 2 10 1 #SB_LUT4
set_location sb_translator_1.ram_we_RNO[11] 4 7 7 #SB_LUT4
set_location sb_translator_1.num_leds[2] 5 3 4 #SB_DFFER
set_location sb_translator_1.cnt_leds_cry_c[6] 7 4 6 #SB_CARRY
set_location sb_translator_1.cnt_leds_RNO[7] 7 4 7 #SB_LUT4
set_location spi_slave_1.mosi_data_out[2] 5 5 2 #SB_DFFER
set_location spi_slave_1.bitcnt_tx[1] 1 12 6 #SB_DFF
set_location sb_translator_1.un1_num_leds_0_cry_12_c_RNI3ONI 4 4 4 #SB_LUT4
set_location sb_translator_1.state56_a_5_cry_2_c_RNILP7UD 9 3 0 #SB_LUT4
set_location demux.N_419_i_0_a3_7 7 12 7 #SB_LUT4
set_location spi_slave_1.clk_RNIDBLL[1] 2 10 0 #SB_LUT4
set_location sb_translator_1.state_leds_RNO 6 8 2 #SB_LUT4
set_location sb_translator_1.cnt_ram_read_RNINT0G1[1] 6 3 5 #SB_LUT4
set_location sb_translator_1.addr_out_RNO_0[8] 8 9 4 #SB_LUT4
set_location ws2812.rgb_counter_RNIFI3M[2] 11 8 1 #SB_LUT4
set_location ws2812.rgb_counter[2] 12 8 2 #SB_DFFS
set_location spi_slave_1.miso_data_out[7] 4 11 3 #SB_DFFE
set_location sb_translator_1.state56_a_5_cry_8_c_RNIVTUS2 8 4 2 #SB_LUT4
set_location sb_translator_1.state56_a_5_cry_0_c_RNIUH4N1 8 3 2 #SB_LUT4
set_location sb_translator_1.ram_sel_RNO[9] 5 8 5 #SB_LUT4
set_location sb_translator_1.cnt_leds_RNIO2NL_0[0] 6 3 0 #SB_LUT4
set_location sb_translator_1.cnt_RNI0T5O[4] 1 3 4 #SB_LUT4
set_location ws2812.un6_data_cry_8_c 12 6 0 #SB_CARRY
set_location ws2812.un1_bit_counter_12_cry_4_c 11 5 4 #SB_CARRY
set_location spi_slave_1.miso_data_out[15] 5 12 5 #SB_DFFE
set_location sb_translator_1.ram_we_RNO[6] 5 7 6 #SB_LUT4
set_location sb_translator_1.data_out_RNO[1] 5 6 1 #SB_LUT4
set_location sb_translator_1.cnt_RNO[7] 2 5 6 #SB_LUT4
set_location demux.N_420_i_0_o2_1 9 8 5 #SB_LUT4
set_location spi_slave_1.mosi_data_in[23] 2 3 5 #SB_DFFER
set_location sb_translator_1.instr_out[6] 9 11 1 #SB_DFFER
set_location sb_translator_1.cnt_leds[12] 7 5 4 #SB_DFFER
set_location demux.N_418_i_0_o2_1 9 8 1 #SB_LUT4
set_location ws2812.rgb_counter_RNO[0] 9 5 1 #SB_LUT4
set_location sb_translator_1.state_RNO[1] 9 4 3 #SB_LUT4
set_location demux.N_421_i_0_o2_9 4 9 4 #SB_LUT4
set_location demux.N_420_i_0_o2 11 11 3 #SB_LUT4
set_location demux.N_417_i_0_a3 9 9 1 #SB_LUT4
set_location ws2812.state_RNIELS35[0] 13 8 7 #SB_LUT4
set_location ws2812.state[1] 11 3 3 #SB_DFFR
set_location ws2812.data_RNO_8 12 5 1 #SB_LUT4
set_location sb_translator_1.state_RNI41J131[7] 9 3 2 #SB_LUT4
set_location sb_translator_1.rgb_data_out[23] 12 10 2 #SB_DFFER
set_location sb_translator_1.data_out[1] 5 6 1 #SB_DFFER
set_location spi_slave_1.miso_RNO_2 2 11 3 #SB_LUT4
set_location sb_translator_1.cnt_leds_RNO[15] 7 5 7 #SB_LUT4
set_location demux.N_424_i_0_o2 7 11 2 #SB_LUT4
set_location sb_translator_1.state_RNIHS98[0] 4 8 0 #SB_LUT4
set_location sb_translator_1.instr_out[15] 5 13 5 #SB_DFFER
set_location sb_translator_1.addr_out[8] 6 12 0 #SB_DFFER
set_location sb_translator_1.cnt_leds_cry_c[3] 7 4 3 #SB_CARRY
set_location sb_translator_1.cnt_leds_RNO[2] 7 4 2 #SB_LUT4
set_location sb_translator_1.cnt_RNO_0[10] 1 6 4 #SB_LUT4
set_location demux.N_422_i_0_o2_0 7 8 4 #SB_LUT4
set_location spi_slave_1.mosi_data_out[5] 5 5 3 #SB_DFFER
set_location sb_translator_1.state[0] 9 3 5 #SB_DFFS
set_location sb_translator_1.cnt_RNINAKQ9[0] 1 5 2 #SB_CARRY
set_location sb_translator_1.cnt_RNIJ7EF[9] 2 7 6 #SB_LUT4
set_location sb_translator_1.cnt_leds_RNI39BU_1[10] 6 6 1 #SB_LUT4
set_location demux.N_417_i_0_o2_0 8 11 0 #SB_LUT4
set_location spi_slave_1.miso_data_out[2] 4 11 6 #SB_DFFE
set_location spi_slave_1.miso_data_out[12] 5 12 4 #SB_DFFE
set_location sb_translator_1.ram_we_RNO[3] 4 7 0 #SB_LUT4
set_location sb_translator_1.data_out_RNO[2] 5 6 2 #SB_LUT4
set_location sb_translator_1.cnt_leds_RNIE5NC1[15] 8 6 5 #SB_LUT4
set_location sb_translator_1.cnt_RNO[4] 2 5 3 #SB_LUT4
set_location sb_translator_1.cnt_RNO_0[2] 1 5 4 #SB_LUT4
set_location demux.N_424_i_0_o2_7 7 7 4 #SB_LUT4
set_location ws2812.data_RNO 11 7 6 #SB_LUT4
set_location spi_slave_1.mosi_data_out[18] 2 4 2 #SB_DFFER
set_location spi_slave_1.mosi_data_in[20] 2 3 2 #SB_DFFER
set_location sb_translator_1.instr_out[3] 9 11 3 #SB_DFFER
set_location demux.N_423_i_0_a3_5 7 9 0 #SB_LUT4
set_location demux.N_418_i_0_o2_4 8 7 4 #SB_LUT4
set_location ws2812.data_RNO_5 12 6 2 #SB_LUT4
set_location ws2812.bit_counter[4] 11 6 0 #SB_DFFR
set_location sb_translator_1.state56_a_5_cry_7_c_RNII4T22 8 4 1 #SB_LUT4
set_location sb_translator_1.ram_sel[9] 5 8 5 #SB_DFFER
set_location demux.N_419_i_0_o2_2 8 11 5 #SB_LUT4
set_location sb_translator_1.rgb_data_out[20] 11 9 5 #SB_DFFER
set_location sb_translator_1.data_out[6] 5 6 6 #SB_DFFER
set_location ws2812.un1_bit_counter_12_cry_5_c 11 5 5 #SB_CARRY
set_location spi_slave_1.miso_RNO_1 2 12 3 #SB_LUT4
set_location spi_slave_1.bitcnt_tx_RNO[0] 2 11 2 #SB_LUT4
set_location sb_translator_1.cnt_leds_RNO[16] 7 6 0 #SB_LUT4
set_location genblk1_genblk1_3__ram_i.mem_mem_0_0 3 1 0 #SB_RAM40_4KNR
set_location demux.N_420_i_0_a3_1 4 10 5 #SB_LUT4
set_location spi_slave_1.un1_bitcnt_tx_1_cry_2_c 1 12 2 #SB_CARRY
set_location spi_slave_1.mosi_data_in_RNO[9] 2 3 7 #SB_LUT4
set_location sb_translator_1.un1_num_leds_0_cry_6_c_RNIDBP74 1 3 7 #SB_CARRY
set_location sb_translator_1.state56_a_5_cry_5_c_RNIGABN1 8 3 7 #SB_LUT4
set_location sb_translator_1.cnt_leds_cry_c[0] 7 4 0 #SB_CARRY
set_location sb_translator_1.cnt_leds_RNO[1] 7 4 1 #SB_LUT4
set_location sb_translator_1.cnt_RNO_0[15] 1 7 1 #SB_LUT4
set_location demux.N_419_i_0_a3_1 4 10 2 #SB_LUT4
set_location sb_translator_1.rgb_data_tmp[19] 9 10 3 #SB_DFFER
set_location sb_translator_1.cnt_RNO[12] 2 7 1 #SB_LUT4
set_location sb_translator_1.cnt[9] 2 7 2 #SB_DFFR
set_location spi_slave_1.mosi_data_in[19] 2 3 1 #SB_DFFER
set_location sb_translator_1.un1_num_leds_0_cry_10_c_RNITFLI 4 4 2 #SB_LUT4
set_location sb_translator_1.cnt_RNI118U9[1] 1 5 3 #SB_CARRY
set_location ws2812.bit_counter_0_RNO[4] 12 4 6 #SB_LUT4
set_location spi_slave_1.mosi_data_in[1] 4 5 1 #SB_DFFER
set_location sb_translator_1.ram_we_RNO[0] 5 7 0 #SB_LUT4
set_location sb_translator_1.instr_tmp[4] 6 6 7 #SB_DFFER
set_location sb_translator_1.cnt_RNO_0[1] 1 5 3 #SB_LUT4
set_location demux.N_424_i_0_o2_6_0 5 9 5 #SB_LUT4
set_location demux.N_424_i_0_o2_0 7 10 5 #SB_LUT4
set_location demux.N_420_i_0_o2_7 9 8 6 #SB_LUT4
set_location ws2812.bit_counter_RNI8QQB3[4] 9 6 4 #SB_LUT4
set_location ws2812.bit_counter_0_RNISCT2[2] 11 7 1 #SB_LUT4
set_location sb_translator_1.instr_out[0] 6 9 3 #SB_DFFER
set_location sb_translator_1.cnt_leds[9] 7 5 1 #SB_DFFER
set_location sb_translator_1.cnt_leds[14] 7 5 6 #SB_DFFER
set_location sb_translator_1.state_RNO[7] 9 3 3 #SB_LUT4
set_location sb_translator_1.rgb_data_out[19] 13 7 3 #SB_DFFER
set_location sb_translator_1.instr_tmp_RNO[19] 1 9 4 #SB_LUT4
set_location sb_translator_1.cnt_RNI3QINA[8] 1 6 2 #SB_CARRY
set_location ws2812.un6_data_cry_0_c_inv 12 4 4 #SB_LUT4
set_location ws2812.data_RNO_6 12 6 3 #SB_LUT4
set_location ws2812.bit_counter[1] 11 5 1 #SB_DFFR
set_location spi_slave_1.mosi_data_out[22] 2 4 7 #SB_DFFER
set_location sb_translator_1.un1_num_leds_0_cry_4_c_RNIM7JK 4 3 4 #SB_LUT4
set_location sb_translator_1.instr_tmp_RNO[0] 6 6 3 #SB_LUT4
set_location sb_translator_1.cnt_RNIOGF5A[3] 1 5 5 #SB_CARRY
set_location sb_translator_1.cnt_leds_RNIERUE[3] 7 3 3 #SB_LUT4
set_location spi_slave_1.miso_RNO_4 4 12 7 #SB_LUT4
set_location sb_translator_1.rgb_data_out[9] 11 9 3 #SB_DFFER
set_location sb_translator_1.cnt_leds_RNO[13] 7 5 5 #SB_LUT4
set_location ws2812.un1_rgb_counter_cry_3_c 12 8 3 #SB_CARRY
set_location sb_translator_1.cnt_RNO_0[16] 1 7 2 #SB_LUT4
set_location ws2812.rgb_counter_0_RNITA2Q[3] 13 7 0 #SB_LUT4
set_location ws2812.bit_counter_0_RNIUET2[4] 12 6 5 #SB_LUT4
set_location spi_slave_1.mosi_data_in_RNO[21] 2 3 3 #SB_LUT4
set_location sb_translator_1.state_RNO_0[0] 4 8 4 #SB_LUT4
set_location sb_translator_1.cnt_RNILAHE_0[10] 4 7 2 #SB_LUT4
set_location demux.N_424_i_0_o2_0_0 8 7 6 #SB_LUT4
set_location ws2812.rgb_counter_0_RNO[3] 12 8 4 #SB_LUT4
set_location sb_translator_1.state56_a_5_cry_3_c_RNISJ8N1 8 3 5 #SB_LUT4
set_location sb_translator_1.rgb_data_tmp[16] 6 7 1 #SB_DFFER
set_location sb_translator_1.cnt_RNO[11] 2 7 0 #SB_LUT4
set_location spi_slave_1.mosi_data_in[14] 5 1 4 #SB_DFFER
set_location spi_slave_1.miso_data_out[8] 2 9 6 #SB_DFFE
set_location sb_translator_1.state56_a_5_cry_14_c 8 4 7 #SB_CARRY
set_location sb_translator_1.instr_out[22] 2 8 4 #SB_DFFER
set_location spi_slave_1.mosi_data_in[6] 4 5 6 #SB_DFFER
set_location sb_translator_1.ram_we[10] 5 7 2 #SB_DFFER
set_location sb_translator_1.ram_sel_RNO[7] 5 8 7 #SB_LUT4
set_location sb_translator_1.instr_tmp[7] 4 6 2 #SB_DFFER
set_location sb_translator_1.cnt_RNO_0[4] 1 5 6 #SB_LUT4
set_location ws2812.un1_bit_counter_12_cry_7_c 11 5 7 #SB_CARRY
set_location ws2812.bit_counter_RNI6OQB3[2] 9 6 2 #SB_LUT4
set_location spi_slave_1.mosi_data_out[12] 5 2 4 #SB_DFFER
set_location sb_translator_1.un1_num_leds_0_cry_8_c 4 3 7 #SB_CARRY
set_location sb_translator_1.un1_num_leds_0_cry_14_c_RNI9JP69 1 4 7 #SB_CARRY
set_location sb_translator_1.cnt_ram_read_RNINT0G1_1[1] 6 3 6 #SB_LUT4
set_location ws2812.data_RNO_3 12 5 6 #SB_LUT4
set_location spi_slave_1.mosi_data_out[21] 2 4 6 #SB_DFFER
set_location spi_slave_1.bitcnt_rx[0] 1 10 0 #SB_DFFER
set_location sb_translator_1.un1_num_leds_0_cry_12_c_RNIQM618 1 4 5 #SB_CARRY
set_location sb_translator_1.ram_sel[7] 5 8 7 #SB_DFFER
set_location sb_translator_1.instr_tmp_RNO[7] 4 6 2 #SB_LUT4
set_location ws2812.bit_counter_RNO[1] 11 5 1 #SB_LUT4
set_location sb_translator_1.state_leds_RNIGMAH 6 12 2 #SB_LUT4
set_location sb_translator_1.num_leds_RNIP02R1[11] 6 4 2 #SB_LUT4
set_location ws2812.un6_data_cry_5_c 12 5 5 #SB_CARRY
set_location sb_translator_1.rgb_data_out[6] 13 9 5 #SB_DFFER
set_location sb_translator_1.cnt_RNI6O3V[10] 1 4 2 #SB_LUT4
set_location spi_slave_1.mosi_data_in_RNO[7] 4 5 7 #SB_LUT4
set_location sb_translator_1.ram_we[4] 5 7 5 #SB_DFFER
set_location sb_translator_1.un1_num_leds_0_cry_9_c_RNIQQ296 1 4 2 #SB_CARRY
set_location sb_translator_1.un1_num_leds_0_cry_11_c 4 4 2 #SB_CARRY
set_location sb_translator_1.cnt_RNILAHE[10] 6 8 7 #SB_LUT4
set_location sb_translator_1.addr_out[6] 6 5 6 #SB_DFFER
set_location demux.N_418_i_0_a3 9 9 5 #SB_LUT4
set_location ws2812.bit_counter_0_RNO_0[4] 11 6 2 #SB_LUT4
set_location spi_slave_1.mosi_data_in_RNO[22] 2 3 4 #SB_LUT4
set_location sb_translator_1.un1_num_leds_0_cry_11_c_RNINUEE7 1 4 4 #SB_CARRY
set_location sb_translator_1.instr_tx 0 10 4 #SB_DFFR
set_location demux.N_424_i_0_o2_0_3 6 10 6 #SB_LUT4
set_location sb_translator_1.un1_num_leds_0_cry_3_c_RNI28S92 1 3 4 #SB_CARRY
set_location sb_translator_1.rgb_data_tmp[13] 7 10 1 #SB_DFFER
set_location sb_translator_1.num_leds[10] 5 4 7 #SB_DFFER
set_location spi_slave_1.mosi_data_in[13] 5 1 3 #SB_DFFER
set_location spi_slave_1.bitcnt_tx_RNIP9N23[3] 2 12 4 #SB_LUT4
set_location sb_translator_1.state56_a_5_cry_3_c 8 3 4 #SB_CARRY
set_location ws2812.bit_counter_0_RNO[2] 11 5 4 #SB_LUT4
set_location spi_slave_1.mosi_data_in_RNO[14] 5 1 4 #SB_LUT4
set_location sb_translator_1.ram_we[13] 4 7 1 #SB_DFFER
set_location sb_translator_1.ram_sel_RNO[4] 5 10 5 #SB_LUT4
set_location sb_translator_1.instr_tmp[2] 6 6 5 #SB_DFFER
set_location sb_translator_1.cnt_leds_RNIO2NL[0] 7 3 0 #SB_LUT4
set_location spi_slave_1.mosi_data_out[17] 2 4 0 #SB_DFFER
set_location spi_slave_1.miso_en 1 11 1 #SB_DFFSR
set_location sb_translator_1.state56_a_5_cry_13_c 8 4 6 #SB_CARRY
set_location sb_translator_1.rgb_data_out[13] 11 9 0 #SB_DFFER
set_location sb_translator_1.num_leds_RNIU1HT[11] 6 4 3 #SB_LUT4
set_location sb_translator_1.un1_num_leds_0_cry_12_c 4 4 3 #SB_CARRY
set_location sb_translator_1.state_RNIOCIR9[5] 1 5 1 #SB_LUT4
set_location sb_translator_1.ram_sel[0] 5 10 0 #SB_DFFER
set_location sb_translator_1.cnt_leds_RNIHCUT[7] 7 2 4 #SB_LUT4
set_location demux.N_421_i_0_o2_2 7 8 2 #SB_LUT4
set_location ws2812.bit_counter_RNO[2] 11 5 6 #SB_LUT4
set_location sb_translator_1.instr_tmp[18] 1 8 5 #SB_DFFR
set_location sb_translator_1.rgb_data_out[3] 13 7 2 #SB_DFFER
set_location ws2812.un1_rgb_counter_cry_1_c 12 8 1 #SB_CARRY
set_location ws2812.un1_bit_counter_12_cry_8_c 11 6 0 #SB_CARRY
set_location ws2812.rgb_counter_RNI4J7O[2] 11 8 6 #SB_LUT4
set_location spi_slave_1.mosi_data_in_RNO[0] 4 5 0 #SB_LUT4
set_location sb_translator_1.un1_num_leds_0_cry_7_c 4 3 6 #SB_CARRY
set_location sb_translator_1.ram_we[1] 5 7 7 #SB_DFFER
set_location sb_translator_1.cnt_leds_RNINIUT[8] 7 2 6 #SB_LUT4
set_location genblk1_genblk1_6__ram_i.mem_mem_0_0 3 7 0 #SB_RAM40_4KNR
set_location sb_translator_1.cnt_leds_RNIK1VE[5] 7 2 1 #SB_LUT4
set_location sb_translator_1.addr_out[5] 6 5 5 #SB_DFFER
set_location spi_slave_1.miso_RNO_10 2 10 4 #SB_LUT4
set_location sb_translator_1.rgb_data_tmp[23] 9 10 0 #SB_DFFER
set_location sb_translator_1.addr_out_RNO[5] 6 5 5 #SB_LUT4
set_location sb_translator_1.rgb_data_tmp[10] 8 9 3 #SB_DFFER
set_location sb_translator_1.cnt[0] 2 6 2 #SB_DFFR
set_location demux.N_424_i_0_o2_0_8_1 7 10 3 #SB_LUT4
set_location spi_slave_1.bitcnt_rx_RNO[1] 1 10 1 #SB_LUT4
set_location sb_translator_1.addr_out_RNO_0[0] 5 4 4 #SB_LUT4
set_location spi_slave_1.mosi_data_in_RNO[17] 5 1 7 #SB_LUT4
set_location spi_slave_1.bitcnt_rx_cry_c[0] 1 10 0 #SB_CARRY
set_location sb_translator_1.state_leds_RNIVONR 6 12 1 #SB_LUT4
set_location sb_translator_1.state_RNIKJOC[5] 1 7 4 #SB_LUT4
set_location sb_translator_1.ram_sel_RNO[1] 5 10 2 #SB_LUT4
set_location spi_slave_1.mosi_data_out[14] 5 2 6 #SB_DFFER
set_location sb_translator_1.cnt_leds_cry_c[13] 7 5 5 #SB_CARRY
set_location sb_translator_1.cnt_leds[2] 7 4 2 #SB_DFFER
set_location demux.N_424_i_0_o2_15 7 11 7 #SB_LUT4
set_location demux.N_420_i_0_o2_9 4 10 7 #SB_LUT4
set_location ws2812.bit_counter_RNI7PQB3[3] 9 6 3 #SB_LUT4
set_location sb_translator_1.rgb_data_out[16] 9 7 7 #SB_DFFER
set_location sb_translator_1.num_leds_RNIH2E91[9] 6 4 0 #SB_LUT4
set_location sb_translator_1.cnt_RNI4OM7[0] 1 3 0 #SB_LUT4
set_location sb_translator_1.cnt[11] 2 7 0 #SB_DFFR
set_location sb_translator_1.instr_tmp_RNO[21] 1 8 4 #SB_LUT4
set_location sb_translator_1.cnt_leds_RNI1VFQ_2[9] 8 9 5 #SB_LUT4
set_location demux.N_424_i_0_a2_44 7 9 7 #SB_LUT4
set_location sb_translator_1.state56_a_5_cry_4_c 8 3 5 #SB_CARRY
set_location sb_translator_1.rgb_data_tmp[4] 11 11 3 #SB_DFFER
set_location sb_translator_1.ram_we_6_0_0_a2_1[3] 6 9 7 #SB_LUT4
set_location demux.N_424_i_0_a3_1 5 9 7 #SB_LUT4
set_location demux.N_419_i_0_o2_9 4 10 4 #SB_LUT4
set_location spi_slave_1.miso_data_out[23] 2 9 4 #SB_DFFE
set_location spi_slave_1.clk_RNIVAC01[1] 4 1 7 #SB_LUT4
set_location sb_translator_1.rgb_data_out[0] 9 7 0 #SB_DFFER
set_location sb_translator_1.cnt_RNIA3O9B[11] 1 6 5 #SB_CARRY
set_location ws2812.rgb_counter_RNIVOJT3[1] 12 7 2 #SB_LUT4
set_location sb_translator_1.ram_we[2] 5 7 1 #SB_DFFER
set_location sb_translator_1.cnt_leds_RNITAVE[8] 7 2 7 #SB_LUT4
set_location ws2812.bit_counter_0_RNIQAT2[0] 11 4 1 #SB_LUT4
set_location ws2812.bit_counter_0_RNIK8UQ[5] 12 4 0 #SB_LUT4
set_location sb_translator_1.addr_out[0] 6 5 0 #SB_DFFER
set_location genblk1_genblk1_4__ram_i.mem_mem_0_0 3 3 0 #SB_RAM40_4KNR
set_location demux.N_424_i_0_a2_2 5 11 4 #SB_LUT4
set_location ws2812.data_RNO_11 12 5 7 #SB_LUT4
set_location spi_slave_1.miso_RNO_15 2 10 3 #SB_LUT4
set_location sb_translator_1.num_leds[7] 5 3 7 #SB_DFFER
set_location sb_translator_1.addr_out_RNO[0] 6 5 0 #SB_LUT4
set_location demux.N_423_i_0_o2_2 7 9 1 #SB_LUT4
set_location demux.N_422_i_0_o2_8 8 7 1 #SB_LUT4
set_location sb_translator_1.num_leds_RNIHKEQ[9] 6 4 4 #SB_LUT4
set_location sb_translator_1.cnt[5] 2 5 4 #SB_DFFR
set_location sb_translator_1.state56_a_5_cry_9_c 8 4 2 #SB_CARRY
set_location sb_translator_1.state56_a_5_cry_1_c_RNI8T5N1 8 3 3 #SB_LUT4
set_location sb_translator_1.addr_out_RNO_0[5] 6 2 1 #SB_LUT4
set_location demux.N_424_i_0_a2_38 6 11 1 #SB_LUT4
set_location demux.N_417_i_0_o2_8 9 12 1 #SB_LUT4
set_location ws2812.state_RNIBU1P2[1] 11 4 6 #SB_LUT4
set_location ws2812.new_data_req_RNO_0 9 6 6 #SB_LUT4
set_location spi_slave_1.mosi_data_in_RNO[12] 5 1 2 #SB_LUT4
set_location ws2812.bit_counter_0_RNIJC643[0] 11 4 5 #SB_LUT4
set_location sb_translator_1.cnt_leds_RNI39BU[10] 6 4 6 #SB_LUT4
set_location sb_translator_1.cnt_leds[5] 7 4 5 #SB_DFFER
set_location genblk1_genblk1_0__ram_i.mem_mem_0_0 10 1 0 #SB_RAM40_4KNR
set_location demux.N_424_i_0_o2_10 5 11 3 #SB_LUT4
set_location spi_slave_1.clk[0] 2 11 0 #SB_DFF
set_location sb_translator_1.rgb_data_out[15] 9 7 6 #SB_DFFER
set_location sb_translator_1.cnt[14] 2 6 4 #SB_DFFR
set_location demux.N_421_i_0_o2_4 8 8 4 #SB_LUT4
set_location sb_translator_1.rgb_data_tmp[7] 9 9 2 #SB_DFFER
set_location demux.N_424_i_0_a3_4 7 7 2 #SB_LUT4
set_location sb_translator_1.num_leds_RNIOJBM[15] 8 6 1 #SB_LUT4
set_location ws2812.un1_bit_counter_12_cry_9_c 11 6 1 #SB_CARRY
set_location spi_slave_1.miso_RNO_9 6 12 6 #SB_LUT4
set_location sb_translator_1.ram_sel[11] 5 8 0 #SB_DFFER
set_location sb_translator_1.instr_out[10] 5 13 0 #SB_DFFER
set_location demux.N_424_i_0_a2_7 7 9 6 #SB_LUT4
set_location ws2812.state_RNO[0] 13 6 0 #SB_LUT4
set_location ws2812.bit_counter_0[2] 11 5 4 #SB_DFFS
set_location spi_slave_1.miso_RNO_16 2 10 2 #SB_LUT4
set_location sb_translator_1.state_RNIH20C[0] 1 9 6 #SB_LUT4
set_location sb_translator_1.ram_we_RNO[13] 4 7 1 #SB_LUT4
set_location sb_translator_1.num_leds_RNII99C[0] 1 3 1 #SB_CARRY
set_location sb_translator_1.num_leds[4] 5 3 6 #SB_DFFER
set_location sb_translator_1.cnt_leds_cry_c[8] 7 5 0 #SB_CARRY
set_location sb_translator_1.cnt_leds_RNI5D2R1[14] 8 6 7 #SB_LUT4
set_location sb_translator_1.addr_out_RNO[3] 6 5 3 #SB_LUT4
set_location demux.N_418_i_0_a3_5 9 8 3 #SB_LUT4
set_location ws2812.un6_data_cry_10_c 12 6 2 #SB_CARRY
set_location spi_slave_1.mosi_data_out[0] 5 5 7 #SB_DFFER
set_location spi_slave_1.bitcnt_tx[3] 1 12 3 #SB_DFF
set_location sb_translator_1.state[5] 2 6 0 #SB_DFFR
set_location sb_translator_1.cnt[6] 2 5 5 #SB_DFFR
set_location sb_translator_1.state56_a_5_cry_2_c_RNII87N1 8 3 4 #SB_LUT4
set_location sb_translator_1.addr_out_RNO_0[6] 9 5 6 #SB_LUT4
set_location genblk1_genblk1_11__ram_i.mem_mem_0_0 10 5 0 #SB_RAM40_4KNR
set_location spi_slave_1.miso_data_out[5] 2 9 5 #SB_DFFE
set_location sb_translator_1.un1_num_leds_0_cry_11_c_RNI0KMI 4 4 3 #SB_LUT4
set_location spi_slave_1.mosi_data_in[9] 2 3 7 #SB_DFFER
set_location spi_slave_1.miso_data_out[17] 5 12 7 #SB_DFFE
set_location sb_translator_1.ram_we_RNO[8] 5 7 3 #SB_LUT4
set_location sb_translator_1.data_out_RNO[7] 5 6 7 #SB_LUT4
set_location sb_translator_1.cnt_leds_cry_c[15] 7 5 7 #SB_CARRY
set_location sb_translator_1.cnt_RNO[1] 2 6 7 #SB_LUT4
set_location sb_translator_1.cnt_RNO_0[9] 1 6 3 #SB_LUT4
set_location demux.N_424_i_0_o2_8 7 11 1 #SB_LUT4
set_location demux.N_424_i_0_o2_13 6 10 0 #SB_LUT4
set_location sb_translator_1.ram_sel_RNO[10] 5 8 4 #SB_LUT4
set_location sb_translator_1.instr_out[8] 2 8 6 #SB_DFFER
set_location reset_n_input_RNIVGR4 4 6 4 #SB_LUT4
set_location sb_translator_1.instr_tmp[20] 1 9 5 #SB_DFFR
set_location sb_translator_1.cnt_leds_RNIN4VE[6] 7 2 3 #SB_LUT4
set_location sb_translator_1.rgb_data_tmp[2] 7 7 0 #SB_DFFER
set_location demux.N_422_i_0_a3 7 8 3 #SB_LUT4
set_location ws2812.bit_counter_0_RNITDT2[3] 11 7 2 #SB_LUT4
set_location sb_translator_1.data_out[3] 5 6 3 #SB_DFFER
set_location sb_translator_1.ram_we[8] 5 7 3 #SB_DFFER
set_location genblk1_genblk1_5__ram_i.mem_mem_0_0 3 5 0 #SB_RAM40_4KNR
set_location demux.N_420_i_0_a3_4 8 7 7 #SB_LUT4
set_location sb_translator_1.instr_out[17] 5 13 7 #SB_DFFER
set_location demux.N_424_i_0_a2_4 6 10 3 #SB_LUT4
set_location ws2812.bit_counter_0[1] 9 5 2 #SB_DFFR
set_location sb_translator_1.un1_num_leds_0_cry_6_c_RNISFLK 4 3 6 #SB_LUT4
set_location sb_translator_1.state_ns_i_i_0_0_o3[0] 9 4 4 #SB_LUT4
set_location sb_translator_1.num_leds[1] 6 3 2 #SB_DFFER
set_location sb_translator_1.cnt_leds_cry_c[5] 7 4 5 #SB_CARRY
set_location sb_translator_1.cnt_leds_RNO[4] 7 4 4 #SB_LUT4
set_location sb_translator_1.cnt_RNO_1[16] 1 7 1 #SB_CARRY
set_location demux.N_423_i_0_o2_8 8 10 5 #SB_LUT4
set_location ws2812.bit_counter_0_RNING643[4] 9 6 0 #SB_LUT4
set_location spi_slave_1.mosi_data_out[3] 5 5 1 #SB_DFFER
set_location spi_slave_1.bitcnt_tx[0] 2 11 2 #SB_DFF
set_location sb_translator_1.state56_a_5_cry_10_c 8 4 3 #SB_CARRY
set_location demux.N_424_i_0_o2_0_8 7 10 4 #SB_LUT4
set_location ws2812.bit_counter_0_RNISPQG2[0] 11 4 4 #SB_LUT4
set_location sb_translator_1.cnt_leds_RNI7Q5F[16] 8 6 0 #SB_LUT4
set_location ws2812.un1_bit_counter_12_cry_6_c 11 5 6 #SB_CARRY
set_location ws2812.rgb_counter[1] 12 8 1 #SB_DFFS
set_location spi_slave_1.mosi_data_in_RNO[18] 2 3 0 #SB_LUT4
set_location spi_slave_1.miso_data_out[0] 5 12 0 #SB_DFFE
set_location sb_translator_1.un1_num_leds_0_cry_13_c_RNI0JVJ8 1 4 6 #SB_CARRY
set_location sb_translator_1.ram_sel_RNO[8] 5 10 7 #SB_LUT4
set_location sb_translator_1.cnt_ram_read_RNINT0G1_0[1] 6 3 4 #SB_LUT4
set_location demux.N_424_i_0_a2 6 10 4 #SB_LUT4
set_location spi_slave_1.miso_data_out[14] 4 12 3 #SB_DFFE
set_location sb_translator_1.ram_we_RNO[5] 4 7 3 #SB_LUT4
set_location sb_translator_1.data_out_RNO[0] 5 6 0 #SB_LUT4
set_location sb_translator_1.cnt_RNO[6] 2 5 5 #SB_LUT4
set_location demux.N_420_i_0_o2_0 9 8 4 #SB_LUT4
set_location spi_slave_1.mosi_data_in[22] 2 3 4 #SB_DFFER
set_location sb_translator_1.un1_num_leds_0_cry_5_c_RNIPBKK 4 3 5 #SB_LUT4
set_location sb_translator_1.instr_out[5] 9 11 2 #SB_DFFER
set_location sb_translator_1.cnt_leds[11] 7 5 3 #SB_DFFER
set_location sb_translator_1.cnt_RNI1BIVB[14] 1 7 0 #SB_CARRY
set_location demux.N_423_i_0_a3_7 8 10 3 #SB_LUT4
set_location demux.N_418_i_0_o2_6 4 9 2 #SB_LUT4
set_location ws2812.rgb_counter_RNO[3] 9 5 0 #SB_LUT4
set_location sb_translator_1.state_RNO[0] 9 3 5 #SB_LUT4
set_location sb_translator_1.ram_sel_6_0_0_a2_3[13] 6 9 5 #SB_LUT4
set_location sb_translator_1.cnt_RNIJ7EF_1[9] 2 7 3 #SB_LUT4
set_location sb_translator_1.cnt_RNIJ7EF_0[9] 2 7 5 #SB_LUT4
set_location ws2812.un6_data_cry_9_c 12 6 1 #SB_CARRY
set_location demux.N_419_i_0_o2_0 8 11 4 #SB_LUT4
set_location ws2812.rgb_counter_0_RNIP62Q[3] 12 9 0 #SB_LUT4
set_location sb_translator_1.rgb_data_out[22] 12 10 7 #SB_DFFER
set_location sb_translator_1.ram_sel_6_0_0_a2_1[9] 1 9 7 #SB_LUT4
set_location sb_translator_1.data_out[0] 5 6 0 #SB_DFFER
set_location spi_slave_1.miso_RNO_3 2 12 2 #SB_LUT4
set_location spi_slave_1.miso_RNO 2 13 1 #SB_LUT4
set_location sb_translator_1.cnt_leds_RNO[14] 7 5 6 #SB_LUT4
set_location sb_translator_1.un1_num_leds_0_cry_15_c 4 4 6 #SB_CARRY
set_location demux.N_424_i_0_a2_9 6 11 4 #SB_LUT4
set_location sb_translator_1.state56_a_5_cry_6_c_RNIQLCN1 8 4 0 #SB_LUT4
set_location sb_translator_1.cnt_leds_cry_c[2] 7 4 2 #SB_CARRY
set_location sb_translator_1.cnt_leds_RNO[3] 7 4 3 #SB_LUT4
set_location sb_translator_1.cnt_RNO_0[13] 1 6 7 #SB_LUT4
set_location spi_slave_1.mosi_data_out[6] 5 5 4 #SB_DFFER
set_location sb_translator_1.state56_a_5_cry_13_c_RNIK1552 8 4 7 #SB_LUT4
set_location sb_translator_1.num_leds_RNICJVN1[10] 6 4 5 #SB_LUT4
set_location genblk1_genblk1_10__ram_i.mem_mem_0_0 10 3 0 #SB_RAM40_4KNR
set_location spi_slave_1.miso_en_RNO 1 11 1 #SB_LUT4
set_location sb_translator_1.cnt_RNO[14] 2 6 4 #SB_LUT4
set_location demux.N_417_i_0_o2_7 8 10 1 #SB_LUT4
set_location spi_slave_1.miso_data_out[3] 4 11 2 #SB_DFFE
set_location sb_translator_1.un1_num_leds_0_cry_7_c_RNICVFS4 1 4 0 #SB_CARRY
set_location sb_translator_1.un1_num_leds_0_cry_15_c_RNIQ9LB 4 4 7 #SB_LUT4
set_location sb_translator_1.send_leds_n 6 8 3 #SB_DFFR
set_location sb_translator_1.instr_tx_RNO 0 10 4 #SB_LUT4
set_location spi_slave_1.mosi_data_in[3] 4 5 3 #SB_DFFER
set_location spi_slave_1.miso_data_out[11] 5 12 3 #SB_DFFE
set_location sb_translator_1.ram_we_RNO[2] 5 7 1 #SB_LUT4
set_location sb_translator_1.cnt_RNO_0[3] 1 5 5 #SB_LUT4
set_location sb_translator_1.instr_out[2] 6 9 0 #SB_DFFER
set_location sb_translator_1.cnt_ram_read[1] 6 8 1 #SB_DFFR
set_location sb_translator_1.cnt_leds[16] 7 6 0 #SB_DFFER
set_location sb_translator_1.state_RNO[5] 2 6 0 #SB_LUT4
set_location sb_translator_1.instr_tmp_RNO[17] 1 11 6 #SB_LUT4
set_location ws2812.data_RNO_4 12 6 4 #SB_LUT4
set_location ws2812.bit_counter[3] 11 5 7 #SB_DFFR
set_location sb_translator_1.rgb_data_tmp[8] 7 11 2 #SB_DFFER
set_location sb_translator_1.ram_sel[8] 5 10 7 #SB_DFFER
set_location sb_translator_1.num_leds_RNIN668[0] 4 3 0 #SB_LUT4
set_location sb_translator_1.instr_tmp_RNO[2] 6 6 5 #SB_LUT4
set_location ws2812.data 11 7 6 #SB_DFFR
set_location sb_translator_1.un1_num_leds_0_cry_3_c 4 3 2 #SB_CARRY
set_location sb_translator_1.data_out[5] 5 6 5 #SB_DFFER
set_location demux.N_424_i_0_a2_10 6 11 3 #SB_LUT4
set_location spi_slave_1.miso_RNO_6 6 12 4 #SB_LUT4
set_location spi_slave_1.bitcnt_tx_RNO[3] 1 12 3 #SB_LUT4
set_location sb_translator_1.cnt_leds_RNO[11] 7 5 3 #SB_LUT4
set_location sb_translator_1.cnt_leds_RNI1VFQ_0[9] 5 8 3 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location spi_slave_1.mosi_data_in_RNO[8] 2 3 6 #SB_LUT4
set_location spi_slave_1.clk_RNIFQ8K3[1] 2 11 1 #SB_LUT4
set_location spi_slave_1.bitcnt_rx_RNI3EGR[1] 1 9 1 #SB_LUT4
set_location sb_translator_1.cnt_RNO_0[14] 1 7 0 #SB_LUT4
set_location ws2812.bit_counter_0_RNO_0[1] 11 5 3 #SB_LUT4
set_location sb_translator_1.state56_a_5_cry_9_c_RNINN433 8 4 3 #SB_LUT4
set_location sb_translator_1.cnt_leds_RNIBJ2R1[15] 8 6 4 #SB_LUT4
set_location sb_translator_1.cnt_RNI1TPB[1] 1 3 1 #SB_LUT4
set_location genblk1_genblk1_2__ram_i.mem_mem_0_0 10 13 0 #SB_RAM40_4KNR
set_location ws2812.rgb_counter_RNIDG3M[2] 11 8 2 #SB_LUT4
set_location sb_translator_1.un1_num_leds_0_cry_1_c_RNIDRFK 4 3 1 #SB_LUT4
set_location sb_translator_1.rgb_data_tmp[18] 6 7 0 #SB_DFFER
set_location sb_translator_1.cnt_RNO[13] 2 6 3 #SB_LUT4
set_location sb_translator_1.cnt[8] 2 5 7 #SB_DFFR
set_location demux.N_417_i_0_o2_4 9 12 3 #SB_LUT4
set_location spi_slave_1.mosi_data_in[16] 5 1 6 #SB_DFFER
set_location sb_translator_1.cnt_RNI4L1Q[14] 1 4 6 #SB_LUT4
set_location demux.N_421_i_0_o2_10 8 8 6 #SB_LUT4
set_location ws2812.bit_counter_0_RNO[5] 11 6 3 #SB_LUT4
set_location spi_slave_1.mosi_data_in[0] 4 5 0 #SB_DFFER
set_location sb_translator_1.instr_tmp[5] 4 6 0 #SB_DFFER
set_location sb_translator_1.cnt_ram_read_RNO[1] 6 8 1 #SB_LUT4
set_location sb_translator_1.cnt_RNO_0[6] 1 6 0 #SB_LUT4
set_location demux.N_420_i_0_o2_6 4 10 6 #SB_LUT4
set_location demux.N_418_i_0_o2_8 8 8 1 #SB_LUT4
set_location sb_translator_1.un1_num_leds_0_cry_9_c_RNIC3RN 4 4 1 #SB_LUT4
set_location sb_translator_1.state_RNO[6] 9 4 0 #SB_LUT4
set_location sb_translator_1.state56_a_5_cry_8_c 8 4 1 #SB_CARRY
set_location sb_translator_1.instr_tmp_RNO[18] 1 8 5 #SB_LUT4
set_location ws2812.data_RNO_1 12 6 7 #SB_LUT4
set_location sb_translator_1.ram_sel[5] 5 10 4 #SB_DFFER
set_location demux.N_419_i_0_o2_6 4 10 3 #SB_LUT4
set_location demux.N_418_i_0_o2 9 9 6 #SB_LUT4
set_location sb_translator_1.rgb_data_out[8] 11 8 7 #SB_DFFER
set_location genblk1_genblk1_1__ram_i.mem_mem_0_0 10 11 0 #SB_RAM40_4KNR
set_location spi_slave_1.mosi_data_in_RNO[5] 4 5 5 #SB_LUT4
set_location sb_translator_1.un1_num_leds_0_cry_5_c_RNIHR3J3 1 3 6 #SB_CARRY
set_io reset_n_in A2
set_io led_out D1
set_io mosi_in A1
set_io miso_out C4
set_io cs_n_in A4
set_io clk_spi_in B4
